[2015-05-18 19:32] bakura10 opened #1 "Create zend-router"
Hi :),

Could anyone create a zend-router repository please? That would allow to backport @DASPRiD Dash router into it!

Thanks!

[2015-05-26 22:45] jerv13 opened #3 "Unable to render template RuntimeException for AbstractRestfulController"
I get an unable to render template error when i do not over-ride the AbstractRestfulController method.

By default, the response code is set and an array is returned which appears to be picked up and rendered using the default render strategy.

Would it be a good idea to set the response content and return the response or is there something I am missing in the configuration.

I would just like som

[2015-05-27 15:56] rodmcnew commented on #3
I've ran into this issue many times as well and haven't found a good solution.

One way to recreate this is to extend the AbstractRestfulController and implement the get() action but not the getList() action. Then when you go to the getList route, you get a "template not found" error instead of a "Method Not Allowed" response like any other framework gives.

It doesn't make sense for me to have to

[2015-06-15 12:42] riznmage opened #8 "Hops not working properly"
Calling `$this->flashMessenger()->addMessage("Message text", "namespace", 2)` does not work as desired. It seems that the method `getMessagesFromContainer()` in `vendor/zendframework/zend-mvc/src/Controller/Plugin/FlashMessenger.php` unsets all namespaces, but it shouldn't do so.

[2015-06-15 12:57] weierophinney commented on #8
Can you explain:
- What is the behavior _you_ expect?
- What are you actually observing?

[2015-06-15 13:13] riznmage commented on #8
I've created a pull request. https://github.com/zendframework/zend-mvc/pull/9

[2015-06-17 10:59] SvenRtbg opened #10 "Zend\Mvc\Service\* contains hidden dependencies"
The dependencies of this module are not correctly declared. They are:

[code]

However, simply requiring zend-mvc with Composer does not put the result into a usable state. There are plenty of hidden dependencies to other modules. For example, the ModuleManagerFactory requires zend-modulemanager and zend-log to be present. I believe there is a hint of what is still missing in require-dev:

[code]

[2015-06-17 21:31] gianarb commented on #10
This is your expectation (same IMO) but the community works in a different direction..
http://gianarb.it/blog/the-price-of-modularity/ I have resume it in this blogpost

[2015-06-17 21:49] weierophinney commented on #10
The problem here is deciding what the _typical_ or _default_ path through the component is. This particular component is troublesome because there are many potential use cases for installing it:
- Maybe you just want to use the router.
- Maybe you just want to use the ResponseSender subcomponent (along with zend-http) to simplify sending various response types back to the browser.
- Maybe you want

[2015-06-17 21:49] #10 closed, assigned to nobody

[2015-06-23 13:03] Ocramius opened #11 "`Zend\Mvc\MvcEvent#getRouteMatch()` should be annotated `RouteMatchInterface|null`"

[2015-07-09 01:30] samsonasik commented on #11
I can't find <code>RouteMatchInterface</code> interface under  <code>src/</code>

[2015-07-11 20:58] carnage opened #12 "Can't set a controller map template replacement to an empty string"
The Inject template listener allows specifying a controller_map to map namespaces or specific controllers to directories. It is not currently possible to specify a mapping for a namespace to '' eg:

[code]

This is due to a `==` comparison with `false` in the listener on line 142:
https://github.com/zendframework/zend-mvc/blob/f46acd021a0d571bc5df400bdd55243adc53580e/src/View/Http/InjectTemplateLi

[2015-07-13 09:51] Ocramius commented on #12
Suggestions:
- proposed fix is a bc break, no-go, even for 3.x (it is subtle)
- use a separate listener for this functionality, and make it act with a lower priority (should be BC compliant then)

[2015-07-13 12:05] akomm opened #13 "composer/dependency: zendframework/zend-console should be moved to "require""
Zend\Mvc\Service\ViewManagerFactory depends on Zend\Console\Console:
https://github.com/zendframework/zend-mvc/blob/master/src/Service/ViewManagerFactory.php#L12

On production this causes a "class X not found" fatal error.

zendframework/zend-console should be moved to "require"

_edit_

I think I see now the problem. There are to many different "sub-components" in mvc, like in other zendframewor

[2015-07-14 08:35] gianarb commented on #13
Hi @akomm

This is not an issue.. Zend\Console for a lot of community members is "suggested" because resolve only one feature of Zend\Mvc.. :)

This problem was discussed a lot of time :)
http://gianarb.it/blog/the-price-of-modularity/

[2015-07-16 16:55] weierophinney commented on #11
@Ocramius Agreed with @samsonasik - there is no `RouteMatchInterface`. I'm assuming the change you want is adding the `null|` aspect to the return annotation?

[2015-07-16 19:02] Ocramius commented on #11
Right

[2015-07-16 19:15] weierophinney commented on #13
You can use both `Zend\Mvc\Application` and `Zend\Mvc\Router`, as well as controllers, completely separately from the default service definitions used within the skeleton application; as such, it's considered an optional suggestion.

Correct; it allows fine-grained usage. The application developer determines how much or how little of the package they want to use.

[2015-07-16 19:15] #13 closed, assigned to nobody

[2015-07-25 08:02] #8 closed, assigned to nobody

[2015-07-28 15:27] Wilt opened #16 "Accept headers not satisfied in correct order by AcceptableViewModelSelector controller plugin"
According to the [WC3 Specifictations](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) the Server should try to satisfy accept headers in order. Currently the order of the content-types in the `Accept` header is not respected.

So when I send a request with an `Accept` header like this: `application/xml, application/json` it should first try to return a `xml` and then a `json` model. When

[2015-07-31 12:50] SwissEngine opened #17 "Instantiating only required services?"
Hello,

I am currently trying to create the lightest ZF2 CLI app to get the most performance out of it. When trying to use zend-mvc as my only dependency, I ran into the fact that I was missing MANY dependencies for a simple Application::init.

I dug a bit deeper and realized that the module manager https://github.com/zendframework/zend-mvc/blob/master/src/Service/ModuleManagerFactory.php is insta

[2015-07-31 18:46] samsonasik commented on #11
@Ocramius @weierophinney I've created PR #18 for this ;)

[2015-08-01 08:55] bakura10 commented on #17
This is currently a main problem of Zend\Mvc, that has a lot of hidden dependencies, and prevent from using it as a standalone. Whenever I write a module that rely on Zend\Mvc, I'm forced to include all the framework in test dependencies, otherwise there are often subtle bugs.

Zend\Mvc should likely undergo a deep refactoring to make it really independant. I'm not sure where Zend is going with th

[2015-08-01 08:58] Maks3w commented on #17
You may override the Composer's package definition in your root composer.json `package[]` however this only will effect if you plan redistribute your CLI tool as a PHAR file.

[2015-08-11 14:31] Danielss89 opened #21 "Unittests failing"
I just cloned this repo and unittests fails for both master and 2.5:
[code]

[2015-08-11 14:36] Danielss89 opened #22 "Form file error file size lost in PRG"
Using filePRG in the post request i see that the form contains an error for filesize(i deliberately upload a file too large(based on ini set max size)) but when validating the form, it thinks the file is just missing so i get a 'value required' error. If the file was set to required=false, the form would just pass.

[2015-08-11 14:53] weierophinney commented on #21
This looks like a change in the zend-session library; @mwillbanks - can you look into this please, as I know you've been merging zend-session changes recently...

[2015-08-11 17:37] mwillbanks commented on #21
Reassigned back to @weierophinney as this was due to https://github.com/zendframework/zend-inputfilter/pull/7

[2015-08-11 21:10] bweston92 opened #23 "Controller manager assuming method exists."
Controller manager assuming `getServiceLocator` exists on an interface where it is not a required method.

https://github.com/zendframework/zend-mvc/blob/master/src/Controller/ControllerManager.php#L63
https://github.com/zendframework/zend-servicemanager/blob/master/src/ServiceLocatorInterface.php

Thank god for loose typing :D

[2015-08-24 12:42] bacinsky opened #24 "fatal error: Argument 1 passed to Zend\Mvc\Router\Console\Catchall::__construct() must be of the type array"
Make sure that defaults are set https://github.com/zendframework/zend-mvc/blob/master/src/Router/Console/Catchall.php#L88

[code]

[2015-09-06 17:43] dimon-smith opened #25 "What's better?"
What's better?

[code]

OR

[code]

[2015-09-06 19:44] manuakasam commented on #25
I'd go with the first one.

PHP7 would then further allow for `$smConfig =
$configuration['service_manager'] ?? []`

dimon-smith notifications@github.com schrieb am So., 6. Sep. 2015 um
19:43 Uhr:

[2015-09-06 19:46] #25 closed, assigned to nobody

[2015-09-06 19:48] dimon-smith commented on #25
@manuakasam
mmm... But zf3 must be compatible with php 5 ...

[2015-09-07 02:16] Ocramius commented on #25
@dimon-smith you were asking about an approach, not about what zendframework's approach should be.

[2015-09-09 08:00] mikemix opened #28 "Segment route issue"
Consider this route:

[code]

When trying to generate an url for this route with `$router->assemble(['page' => 10], ['name' => 'home')` instead of `/page-10.html` I get `/`.

The router obviously does not like my dot there. Is this an expected behavior?

[2015-09-22 20:47] #11 closed, assigned to nobody

[2015-09-22 20:50] weierophinney commented on #17
@SwissEngine I would argue that if you're doing a CLI application, you shouldn't use the MVC. While it seems easy, this is one of the many issues you run into.

We created [zf-console](https://github.com/zfcampus/zf-console) to simplify creation of console applications. If you go that route, you can setup an alternate configuration for your console applications that has only the configuration nece

[2015-09-22 20:52] weierophinney commented on #23
The ControllerManager is a plugin manager, and is assumed to be working in the context of an application, where it will be injected with the application service manager instance.

This will change for ZF3, as plugin managers will be injected with the application service manager at instantiation, and will set that instance as the "context" to be used when passed to factories.

As such, I'm closing

[2015-09-22 20:52] #23 closed, assigned to nobody

[2015-09-22 20:53] weierophinney commented on #28
@DASPRiD — can you take a look at this, please?

[2015-10-07 01:13] DASPRiD commented on #28
@mikemix try this:

`route' => '/[page-:page:.html]',`

[2015-10-07 01:18] DASPRiD opened #35 "Fatal error when not installing specific components"
While cleaning up a project's composer.json today, I noticed that Zend\Mvc is going throw fatal errors when a few specific components are not installed, namely these:
- zend-console
- zend-log
- zend-serializer

On a side-node, Zend\ModuleManager has the same problem, throwing a fatal error when zend-config is missing.

All those packages only appear in the suggest section, but apparently they sho

[2015-10-07 08:12] mikemix commented on #28
Will do. I've never seen route param written down this way in the docs.

[2015-10-10 09:33] SwissEngine commented on #17
@weierophinney Well yes I could always go for Symfony\Console or zf-console but most of my apps are accessible from both the web and in CLI. This doesn't change the fact that IMO this component should undergo a deep refactoring, like bakura said :)

[2015-10-30 10:08] akond opened #41 "Is there a way of telling if a route exists?"
Let's say I have several languages on my site: EN,DE,ES.
One page may be accessible through language-specific  urls: /en/page, /de/seite, /es/pagina
A SEO-guy may add/change/remove any language specific route as he pleases.
If there is no language specific route, a fall-back route should be used.

$router->assemble ('lang/route') does not always work.
It throws if there is no route, and I'm reluct

[2015-10-30 16:19] svycka opened #42 "Imposible to use raw data in AbstractRestfulController in some cases"
here https://github.com/zendframework/zend-mvc/blob/8a464ff52049a6ad4990347eb30f69fb79f14a47/src/Controller/AbstractRestfulController.php#L586 is unreachable code

[code]

there are only one way to get raw response if $content is something like `0=something` otherwise if `$content = 'foo'` or similar parse_str() will return `['foo' => '']`

[2015-10-30 16:34] svycka commented on #42
for example if you use:

[code]

[2015-11-20 09:57] waltertamboer opened #45 "Composer Requirements"
When installing zend-mvc via composer, one will get an error when creating an application:
`Fatal error: Class 'Zend\ModuleManager\Listener\ListenerOptions' not found`

I see the that zend-modulemanager is set as a suggestion in composer.json. I guess it should be a requirement since the package does not run without it.

[2015-11-20 16:27] weierophinney commented on #45
`ModuleManager` is required if you're using `Application`, but for other uses cases (e.g., using only the router, or only the controller subcomponent), it's not required. This is why it has been marked as an optional dependency.

[2015-11-20 16:27] #45 closed, assigned to nobody

[2015-11-25 19:06] weierophinney opened #46 "Reduce number of dependencies prior to v3"
We would like to reduce the number of dependencies prior to version 3 to only the bare minimum required to run an MVC application — without all the bells and whistles. The majority of the components listed in the service configuration of the component are "opt-in", but due to being listed, become hard requirements for end-users.

As such, we need to determine how we can:
- conditionally add compon

[2015-11-25 19:21] Maks3w commented on #46
I was thinking in create different metapackages for different use scenarios.

[2015-11-25 19:23] weierophinney commented on #46
@Maks3w That's fine. That's not what I'm asking, though. :smile:

I'm trying to determine _which components_ we'll mark as required dependencies of zend-mvc, and _how other components_, when installed, can notify the application of their factories and plugin managers. Let's keep discussion to those two items, please.

[2015-11-25 19:33] Maks3w commented on #46
For what use case scenario? As I proposed we should consider different scenarios and provide different sets of required packages for those scenarios (metapackages)

1. This should be discussed out of this specific MVC thread.
2. Is this the same issue zend-expressive has?
3. Probably we should turn those metapackages into ZF2 Modules and wire those configs with the standard module bootstrap.

[2015-11-25 19:34] Maks3w commented on #46
Another option could be write a custom Composer installer and write a single file in some place with the config.

[2015-11-25 19:37] gianarb commented on #46
In my opinion the MVC must work without ModuleManager..

MVC + ModuleManager is a perfect feature but it is not necessary for a MVC.. :) but it is only a my opinion.

And a lot of dependencies (loaded by ServiceListener) could be modules that you can choice to use or not..
- Zend\Log
- Zend\Cache
- Zend\Session
- Zend\Authentication

[2015-11-25 19:40] weierophinney commented on #46
This issue is on the _zend-mvc_ repository. I'm talking specifically about the bare minimum required to write an MVC application. When we start talking about usage scenarios, we're talking more along the lines of skeleton packages or meta-distributions — and that belongs in a discussion [on the main framework repository](zendframework/zf2#7646) (linked). Any discussion of metapackages or installer

[2015-11-25 19:41] akrabat commented on #46
In my ideal world, MVC would just require:
- EventManager
- ServiceManager
- ModuleManager
- View

(Assuming Router is still part of Mvc, otherwise also Router!)

i.e. what I see as a ZF-Mvc apps is one that uses modules and a view. i.e. a version of skeleton without the i18n bits.

[2015-11-25 19:41] Maks3w commented on #46
I disagree about move metapackages to parent discussion. optional dependencies are defined in each component composer so each component has a set of scenarios

[2015-11-25 19:42] weierophinney commented on #46
@gianarb The plan for v3 is to keep as much BC as possible. Currently, the MVC and ModuleManager have a symbiotic relationship, and we do not plan to change that. You are correct, however, in noting the current components that we might want to start removing as dependencies here: log, authentication, etc. are definitely candidates for removal!

[2015-11-25 19:43] weierophinney commented on #46
@Maks3w

I've provided scope to ensure that the thread does not become unwieldy and present too many ideas/options/directions, in large part to reduce the BC risk and amount of development time required to implement. Please respect this.

[2015-11-25 19:53] weierophinney commented on #46
As noted in the thread on zendframework/zf2#7646: One option for the wiring issues is to make the various components that need to provide factories and/or plugin managers act as _modules_; this could be as simple as adding a `Module` class to each one, and registering it with the application.

[2015-11-25 19:54] alextech commented on #46
Agreed with akrabat, those listed are bare minimum and is the starting point for any application. Beyond that, I always tend to do further independent research of whether to use ZF lib for specific functionality (most often yes) or introduce external lib.
I am concerned a little with View. It in itself has a lot of dependencies. Thinking of Renderer and its plugins with strategies.

[2015-11-25 19:55] akrabat commented on #46
I like the idea of a `Module.php`. It's a standardised way that everyone else uses in order to integrate in with SM/EM.

[2015-11-25 19:57] gianarb commented on #46
In my opinion a possibile design is
- component is a package "framework agnostic" (it uses other components to provide features)
- Zend\Mvc supports Module (ok @weierophinney I understand your position, module manager is not divisible)
- components are integrable into the MVC as modules.. because we has a ModuleManager!!

The follow is
- You could be use module-manager in zend-expressive to serve

[2015-11-25 20:00] alextech commented on #46
You could only go so far making everything "framework agnostic". For the most part it is a great concept. But can get difficult where components do not seem to work well together. Advantage of monolithic frameworks like ZF2 is everything works really nicely together very seamlesly. Micro-frameworks require too much bridging and clashes of different interface code styles.

[2015-11-25 20:01] gianarb commented on #46
@alextech the skeleton application is a monolithic IMO.. The single components have problems but work.. :)

[2015-11-25 20:05] alextech commented on #46
@gianarb yes so I think taking what current skeleton application has, for the most part, is a good bare minimum dependency.  This will also make documentation efforts easier giving a clear line where to start not causing more docs confusion.

[2015-11-25 20:10] gianarb commented on #46
I agree with @akrabat the list of dependencies is perfect.. :)

@alextech docs is a required efforts but it can not decide the quality of our code.

@weierophinney a lot of time ago I tried to remove Zend\Log from MVC and move it in a module, maybe we could be "transparent".. I can try to resume my test.

[2015-11-25 20:14] alextech commented on #46
@Maks3w custom installer seems almost like the only reasonable solution. But that's another tool to deal with.  Adding through composer is half a step.  If its a Module, still need to add it to a list of loaded modules manually. Or maybe have the autoloader also detect components in Zend\Modules namespace or whatever appropriate making them automatically available when attempt to use and configure

[2015-11-25 20:22] Maks3w commented on #46
First Module can specify another modules which should be bootstraped too.

[2015-11-25 20:23] akrabat commented on #46
Another way of looking at it is that:

Any other component that needs to register with the MVC should do so the same way as any other user-land component: `Module.php`. It would be lovely to leverage Composer's installation hooks on the other components, such as zend-form, to automatically update application.config.php with the new module when it is composer require'd.

[2015-11-25 20:25] alextech commented on #46
+1 for Composer Installation hook.  How would take care of potential merge issues with custom configs? Or would Module.php be managed purely by that installation script?

[2015-11-25 20:26] akrabat commented on #46
No idea, but Apigility seems to cope…

[2015-11-25 20:28] weierophinney commented on #46
@alextech We should be able to automate injecting the modules into the application configuration using a composer installer script; working on the Expressive installer has given me a ton of ideas around this. :smile:

[2015-11-25 20:28] Maks3w commented on #46
Compiled config is only for compile factories. Rest of config and app configs are merged in a 2nd step

[2015-11-25 20:30] weierophinney commented on #46
Configuration merging happens at the application level, so this isn't an issue. I'd argue any component modules should be added at the top of the module stack, to allow easy overrides via application modules.

[2015-11-25 20:31] akrabat commented on #46
Agreed.

[2015-11-25 20:35] gianarb commented on #46
Perfect!

The tool to manage installation is secondary :)
We must move on the dependencies :)

I don't know if this tool is needed.. We can add a chapter into the docs

2015-11-25 20:31 GMT+00:00 Rob Allen notifications@github.com:

##

Gianluca Arbezzano
www.gianarb.it

[2015-11-25 20:36] alextech commented on #46
Agreed too. Other package managers like Maven have ability to specify module configs as part of the dependency list. Since Composer does not have this @weierophinney idea is great.

[2015-11-25 21:55] nikolaposa commented on #46
If I correctly understand the proposal with which the majority of participants in this thread agrees, action of making all the other components MVC-aware would require changes in each of them. To some extent, that is not in accordance with @weierophinney 's notice:

If I may suggest, an interim solution could be creation of a new, specialized component, for example zend-mvc-glue (there's probably

[2015-11-25 21:56] weierophinney commented on #46
@nikolaposa Adding `Module` classes to the various components would not require a ton of work; I think we could do that in parallel to a solution like you're suggesting (which I agree would be expedient, and solve a lot of the BC concerns).

[2015-11-25 23:23] adamlundrigan commented on #46
I second @akrabat's definition of the MVC requirements...anything that doesn't directly contribute to processing the request, routing, dispatching, rendering and sending is an "add-on" and should be an optional, separate install.  :+1: on using `Module.php` in components as well...it's the standard we made so we should dogfood it :stuck_out_tongue:

The only caveat I see to having `composer instal

[2015-11-26 06:27] MichaelGooden commented on #46
I think that @akrabat has the right idea about the MVC requirements. I also think that using `Module`s for wiring up additional components to be a good solution. (Not sure how the `ModuleManager` critics will take this, but the full MVC stack has always required `ModuleManager`)

One thing that would need to be taken into account with a custom Composer installation script is that there is not alwa

[2015-11-26 10:11] hoppithek commented on #46
Please don't do anything that will lead to `include`ing and `var_export`ing config files that are not always 100% autogenerated.

@akrabat Why is EventManager a requirement for a bare minimum MVC application in your opinion? I agree to the other suggested requirements.

[2015-11-26 10:13] akrabat commented on #46
@hoppithek the MVC system requires it! e.g. [dispatching of the controller](https://github.com/zendframework/zend-mvc/blob/master/src/DispatchListener.php#L93) is done in a listener…

[2015-11-26 10:20] Maks3w commented on #46
MVC is all around the MvcEvent

[2015-11-26 10:20] hoppithek commented on #46
@akrabat that is how it is currently done, yes, but I thought we are discussing what the bare minimum for MVC would be. Probably EventManager cannot be left out because of its use in the current MVC stack  just  as ModuleManager will be in, but I don't see a real requirement for it in a bare minimum MVC.

[2015-11-26 10:22] akrabat commented on #46
@hoppithek No. We're discussing the bare minimum set of components that need to be in the require section of composer.json.

Related to this, we're also discussing how to integrate any component that wants to register things with the MVC system when it's no longer in this list.

[2015-11-26 10:53] MichaelGooden commented on #46
@hoppithek We are discussing the minimum to implement the Zend\MVC, not some "ideal" MVC stack that doesn’t exist yet.

Regarding the config files composer script thingy, I have been kicking around an idea of how the composer install script could work.

Something similar to Expressive installer, but instead of giving you options of packages, it gives you options of what config file you want to inj

[2015-11-26 11:48] hoppithek commented on #46
Maybe it is clear to all of you that the EventManager needs to be part, it was not for me. I don't see why MVC should not be able to run without the EventManager but use it when it is available. Yes MVC currently relies completely on the EventManager, but if we plugin other components as needed and provide meta packages or Modules with "glue" effect (as proposed in this thread), to bind it all tog

[2015-11-26 11:54] Maks3w commented on #46
I think we should enumerate the scenarios where the MVC component will be used.

For a ZF3 app EM could be required as part of the parent composer and not here.

[2015-11-26 13:43] alextech commented on #46
@hoppithek  EventMenager is core component that is necessary to make many further plugins beyond basic code on top of MVC to work with it. Looking at how almost any other plugin and library in Zend works, many get hooked in one way or another through some event.  Most predominant ones are Router and Renderer.

There is also a concept of application life cycle management. Take a look at table at ht

[2015-11-26 13:46] MichaelGooden commented on #46
@alextech Shame, I think the guy gets it by now :)

RE: Zend\Config. Good idea, except there will be a few people (myself included) that do not want to add the additional overhead of calling an external class and loading up another file over a native PHP array.

[2015-11-26 13:50] alextech commented on #46
@MichaelGooden  To be honest I thought same as him. It took me a long time to understand why EventManager is needed back in the day and thought it was a nuisance, until I realized the meaning of that table I linked. So knowing that pain of learning, I try to explain it as best I can when I get an opportunity.

Config wise, yes that is a problem.  But ZF already has a mindset of development vs. pro

[2015-11-26 13:57] MichaelGooden commented on #46
@alextech I must apologise, I have been working with ZF2 since beta and forget people don’t always have the same expanse of experience that I do ;) That table is actually a good resource to link to, my brain skipped over the link at first.

Zend\Config actually supports reading and writing to PHP arrays, as well as XML (oh god why), JSON (< the best non-array one), YAML (it has a funny name :), an

[2015-11-26 14:02] akrabat commented on #46
Remember that the config we're talking about is the list of modules loaded by ModuleManager. Not the module's own config as returned by Module::getConfig()

[2015-11-26 14:05] alextech commented on #46
@MichaelGooden true it does support reading and writing arrays but I was afraid it will still be an issue cine PHP arrays are subject to unpredictable custom logic.  But now that @akrabat clarified exactly which configs we are talking about then it should not be a problem. I thought we were discussing list of modules loaded PLUS configs for those modules. I stand corrected.

[2015-11-26 16:29] hoppithek commented on #46
Even if only the application config is manipulated, including and exporting will remove any comment, use of named constants like `APP_ROOT` and break any internal logic in the file. Better create a separate config for auto generated content and parse/merge/cache that in the index.php. I am not sure how to do this and keep a good order of modules, though.
Or merge user application config with auto

[2015-11-26 16:37] alextech commented on #46
I realized in explanation I glossed over what lifecycle management actually means. In any MVC framework, it is not possible to tell what stage it is at without some form of event system. Most reliable way to tell the world that MVC has, for example, moved from processing controller action and entered response stage is through event system where MVC will let EventManager know its current position i

[2015-11-27 09:41] BreiteSeite commented on #46
@MichaelGooden wouldn't it make more sense to write the modules into an own file like vendor/zend/composer-plugin/installed_modules.php with a file which would look like

[code]

which i then could load and merge into my init_application.php script which would look something like

[code]

This way, your composer script could modify its own file and its not from messing with my code.

Zend would pr

[2015-11-27 11:44] Maks3w commented on #46
You asume vendor folder location. This could be customized and don't be available. The point of use classes is the autodiscover feature of class autoloaders so you can use without any knowledge of the directory tree.

[2015-11-27 13:02] Maks3w commented on #46
I've tested the minimum packages required for execute the test suite of `zend-expressive-zendrouter`

# zend-expressive-zendrouter
- Installed (17)

- Used (9)

- Unused (8)

2 of 5 required MVC dependencies are used.

[2015-12-04 09:22] marcosh opened #49 "match all the routes starting with a given fragment"
I need to build a route matching anything starting with a given segment.

To be clear, I would like to match anything starting with `/foo`, so `/foo`, `foo/bar`, `foo/baz`, `foo/bar/baz`, ...

I could do it using a `Wildcard` router, but the documentation states it is deprecated and that I should use `Segment` instead.

Is there a way to do this using `Segment` or must I use `Regex` router?

On th

[2015-12-07 07:40] kabirbaidhya opened #50 "500 Internal Server error if request payload is empty and request content-type is application/json"
After a recent `composer update`, the application throws `Zend\Json\Exception\RuntimeException` on requests with no payload and along with content-type 'application/json'.

Actually, in our application the default `Content-Type` is `'application/json'` so all the requests are sent along with this header. Thus, in case of requests with no payload, for instance `DELETE` request, the application thro

[2015-12-09 13:21] scroach commented on #3
I've stumbled across the same problem as I am currently trying to implement a REST API with ZF2.
I registered the `ViewJsonStrategy` in my module and expected the `AbstractRestfulController` to return JSON-Based error-responses for unimplemented methods.

Afte some research I found out that the `JsonStrategy` has been changed long ago in 2.0.4 to only return JSON if a JsonModel has been explicitel

[2015-12-18 01:10] tklever opened #51 "EventManager confusion"
When I add this code to a fresh ZendSkeletonApplication in the Application Module.php

[code]

I get this output

[code]

Shouldn't these event managers be the same?
Or if they are not, is there a reason why they aren't?

[2015-12-18 03:31] weierophinney commented on #51
They are not supposed to be the same; please read the tutorial and
component documentation for the event manager to see the various use cases,
which also illustrate went they are different instances.

You can use the SharedEventManager instance to share listeners between
discrete EM instances.
On Dec 17, 2015 7:10 PM, "Tim Klever" notifications@github.com wrote:

[2015-12-18 06:50] tklever commented on #51
Thanks for the clarification.

This line https://github.com/zendframework/zend-mvc/blob/master/src/Application.php#L111

[code]

made me think there were supposed to be the same instance.

[2015-12-18 06:50] #51 closed, assigned to nobody

[2015-12-18 11:55] weierophinney commented on #51
Pulling it from the SM ensures that the instance has the shared manager
injected. The EM is marked in the SM as unshared (i.e., returns discrete
instances), while the shared manager is, well, shared. The EM factory
injected the shared manager in each instance it creates.
On Dec 18, 2015 12:50 AM, "Tim Klever" notifications@github.com wrote:

[2015-12-18 17:57] tklever commented on #51
Found it in the docs

http://framework.zend.com/manual/current/en/modules/zend.mvc.services.html#servicemanager

Honestly, I'm shocked I didn't know that EM is not shared by default. How I didn't run into this revelation sooner is beyond me. Thanks again.

[2015-12-26 05:40] RalfEggert opened #52 "Suggestion for ZF3: extract FlashMessenger from Zend\Mvc for better reusability"
I would like to suggest to extract the `FlashMessenger` from the `Zend\Mvc` package for better reusability. Current scenario I am working on: I want to use something like that within an `Zend\Expressive` application.

[2015-12-26 08:15] xtreamwayz commented on #52
Something like this?

https://github.com/slimphp/Slim-Flash

[2015-12-26 10:37] gianarb commented on #52
Good for me.. But maybe a single component with this feature is to much stupid.. :)
In your opinion how it could grow?

[2015-12-26 10:49] gianarb commented on #46
@akrabat in my opinion View should be only a interface (abstract, something) that helps me to use or implement a template engine or a render library.

Current Zend\Mvc\View could be a stand alone component (template engine.. some of twig, plates..)

In my opinion in order to split this components
- Zend\Log
- Zend\Cache
- Zend\Session
- Zend\Authentication
- Zend\Form
- Zend\Console
- Zend\Seriali

[2016-01-04 17:23] Maks3w commented on #1
I think this issue can be closed

[2016-01-04 18:39] weierophinney commented on #1
I want to move it to a separate repo prior to v3, so, no, let's keep this
open.
On Jan 4, 2016 11:23 AM, "Maks3w" notifications@github.com wrote:

[2016-01-20 09:23] GeeH opened #58 "Check All Headers In Documentation"
# Check headers are correct

Check all headers on the documentation - headers should use the hash style of declaration rather then be underlined with equals or dashes. The more hashes, the more of a subheading. Eg:
- `#` is equal to `<h1>`
- `##` is equal to `<h2>`
- `###` is equal to `<h3>`
- `####` is equal to `<h4>`
- `#####` is equal to `<h5>`

Headings should be appropriate for their level in

[2016-01-20 09:23] GeeH opened #59 "Check Documentation Code Blocks"
# Check code blocks are correct

Code blocks should be in the following format...

<pre>
[code]
</pre>

Note the three backticks then _php_ in the opening fence, and the closing fence is just three backticks. It's common for the opening backticks to have no code type, or something like _source_.

Code should also have been automatically formatted into PSR-2 format, but sometimes these slip through

[2016-01-20 09:23] GeeH opened #60 "Check Documentation For Other Things"
# Check docs for other problems

Things slip through the net, so check the documentation for other problems that have been missed. Common other problems include
- Bullet lists (should be single `*` then space at the start of line)
- Inline code - should be marked by three backticks at start and finish
- `bookdown.json` file is correctly formated and has the right escaping
- Links between documenta

[2016-01-20 09:23] GeeH opened #61 "Check Documentation Tables"
# Check the tables in a document

Check all tables are in the correct format. Please don't use leading and trailing `|` - more information on github flavoured markdown tables can be found [here](https://help.github.com/articles/github-flavored-markdown/#tables).

[2016-01-20 09:23] GeeH opened #62 "Check For Blockquotes In Docs"
# Check the document for bad blockquoutes

Blockquotes are donated by a single greater than character and then a space. Make sure all the blockquotes in every doc file are correctly formatted. Headings in blockquotes should use `###` and not bold.

Any paragraph spacing in blockquotes should be marked using a single greater than, then a space.

[2016-02-22 15:04] weierophinney opened #71 "Url factory does not work starting in 2.6"
Per zendframework/zend-view#51, the `url` factory created in `Zend\Mvc\Service\ViewHelperManagerFaactory` no longer works as expected. The reason is because `url` now exists as an *alias* in the zend-view `HelperPluginManager`, and aliases are resolved prior to attempting to pull the service.

As such, the `ViewHelperManagerFactory` needs to register the factory under the FQCN (as well as a normal

[2016-02-23 06:07] remicollet opened #72 "Failed test with zend-form 2.7"
With zend-form 2.6, test suite is ok

With zend-form 2.7

There were 2 errors:

[code]

[2016-02-23 07:43] michaelwolfram93 opened #73 "getting Call to a member function toArray() on array in Plugin/FlashMessenger.php on line 306"
Hi,

I'm getting this error, if I call $flashMessenger->render in my custom view helper. FlashMessages will be added in controller by $this->flashMessenger()->addErrorMessage(...) etc.

The Problem is solved, after i replaced line 306 by following code:

[code]

I use this package in version 2.6.2  and zendframework/zendframework in version 2.5.3

[2016-02-23 09:37] svycka commented on #42
ping @weierophinney or someone any response?

[2016-02-23 14:39] weierophinney commented on #72
Confirmed. The issue is that initializers are expected to receive two arguments, but that factory is only using one; the tests are incorrect. Essentially, the zend-form update exposed a problem in the zend-mvc test suite!

[2016-02-23 14:43] weierophinney commented on #72
Or, rather, the `FormAnnotationBuilderFactory` is incorrect in this case, as it was calling an initializer method without all required arguments. The zend-form v2.6 and previous versions of the initializer omitted the second argument out of convenience, but should not have. Since that's been corrected, the usage in the zend-mvc factory needs to be updated as well. Will push a fix in a minute.

[2016-02-23 15:26] #72 closed, assigned to weierophinney

[2016-02-23 15:46] remicollet commented on #72
Please just fix the release description for state 2.6.4 when tag state 2.6.3 ;)

[2016-02-23 15:47] weierophinney commented on #73
While I appreciate that you found a "fix", the problem is that it masks the root cause somewhere.

When messages are added, they are pushed on to an `SplQueue` instance. As such, the real question is: how is an array sneaking into the `$messages[$namespace]` value? We need to find how that is happening.

Can you give the exact sequence of code that demonstrates the problem, please, so I can try an

[2016-02-23 15:48] weierophinney commented on #72
@remicollet It was released with 2.6.3. :)

[2016-02-23 15:55] remicollet commented on #72
But https://github.com/zendframework/zend-mvc/releases/tag/release-2.6.3 says **zend-mvc 2.6.4** ;)

[2016-02-24 07:23] michaelwolfram93 commented on #73
hi weierophinney,

I have added an error message to flashMessenger in one of my controllers:

`$this->flashMessenger()->addErrorMessage('ERROR_MESSAGE');
      $this->redirect()->toUrl('/admin/course/overview/index');
      return false;`

These messages will be rendered by a custom ViewHelper:

[code]

I have dumped the content of $this->messages. A success-message contains following:

`(
    [su

[2016-02-24 16:16] weierophinney commented on #73
That's interesting — do you mean at a later time in the same request? or a later request? I ask, because flash messages are expected typically to be retrieved exactly once; any later retrieval should result in an empty set. I'd expect to see what you received on the first result, and then any later retrievals to be empty.

I hate to keep bugging for more information, but I still don't have enough

[2016-02-25 09:35] bgaillard opened #75 "No path path provided error since version 2.6.2"
Hi, we encounter the following error since we updated our project to version 2.6.2 (for now we've reverted our conf to version 2.6.1 which is working).

Here is the error we encountered (we've changed nothing in our configuration to see this appear).

[code]

Is their something we've misconfigured in our project ? Or this a critical bug which have to be fixed ?

Thanks.

[2016-02-25 10:27] bgaillard commented on #75
Ok, I finally found the cause of the problem, because of 2 other Zend bugs we forced the versions of `zendframework/zend-view (2.5.3)` and `zendframework/zend-cache (2.5.3)`.

If we let `zend-view` and `zend-cache` be updated to the last version then it works.

So I close this issue.

[2016-02-25 10:27] #75 closed, assigned to nobody

[2016-02-25 11:24] DanielBeltran commented on #73
Hi there,
I have the same problem with fm->getMessages() and fm->getCurrentMessages().
As the error not occurs with ->getMessages() as described above it uses to happen with getCurrentMessages(). I looked into Flashmessenger code and it hasnt changed since last Version so the bug might not be rooted here.
I also get that bug in the return Method of getCurrentMessages() and as i debugged it turned

[2016-02-25 13:57] michaelwolfram93 commented on #73
@weierophinney,

I mean a later request, but the same action, with same parameters. Maybe, the informations of DanialBetran are more helpful?

[2016-02-28 05:52] googlle opened #77 "Would it be possible to zf3 to load the module, which is required for the current router?"
My app always loads all the modules, and starts the onBootstrap() all the modules in order. Would it be possible to zf3 to load the module, which is required for the current router? And models from other modules to load using autoload

[2016-02-28 14:09] weierophinney commented on #77
No, it's not possible. By design.

The intent is for module classes to be lightweight and provide information to the application specifically around two areas:
- configuration, _including routing configuration_
- listeners for MVC (and other) events

Autoloading _can_ be provided by modules as well, but does not have to be. You can already setup autoloading rules for modules using composer or an a

[2016-02-28 14:09] #77 closed, assigned to nobody

[2016-02-29 02:19] samsonasik opened #78 "[dev-develop] using zend-servicemanager v3 got error: ": Unable to resolve service "application" to a factory""
This is the error:

[code]

My composer.json:

[code]

[2016-02-29 14:33] weierophinney commented on #78
I'll look into this first thing today!

One note: you don't need to add the entries for zend-servicemanager and zend-eventmanager; the develop branch of zend-mvc pins to stable versions of all components. I'd instead use this:

[code]

which will bring it in as a stable version, and use the latest stable version of any dependencies it has.

If you want to force usage of zend-servicemanager v3 and/

[2016-02-29 14:45] weierophinney commented on #78
@samsonasik I've done the following
- Created a new skeleton application via `composer create-project -n -sdev zendframework/skeleton-application`
- Within the project, edited `composer.json` to add: `"zendframework/zend-mvc": "dev-develop as 2.7.0"`
- Ran `composer update`
- Ran `php -S 0:8080 -t public/ public/index.php`

From there, I browsed to localhost:8080... and all worked fine.

Packages

[2016-02-29 15:39] samsonasik commented on #78
It is working fine by just use zend-mvc:dev-develop, The issue is raised when I added zend-servicemanager ^3.0 and Zend-eventmanager ^3.0

Warm regards,

Abdul Malik Ikhsan

Pada 29 Feb 2016, pukul 21.45, weierophinney notifications@github.com menulis:

[2016-02-29 15:39] weierophinney commented on #78
Okay, will try that as well; thanks for the clarification, @samsonasik !

[2016-02-29 16:48] samsonasik commented on #78
@weierophinney I've created PR for it #80

[2016-02-29 20:54] weierophinney commented on #78
Fixed with #80 / #82.

[2016-02-29 20:54] #78 closed, assigned to weierophinney

[2016-03-01 02:40] samsonasik opened #83 "[question] how to use routed Middleware?"
I tried to use routed middleware with registered route:

[code]

And created the middleware class:

[code]

Got the following error:

[code]

[2016-03-01 02:48] samsonasik commented on #83
Got clue, I forgot to register in service_manager

[2016-03-01 02:56] samsonasik commented on #83
Got it working ;), my next question may be how to use ViewModel in the __invoke(), but that's may be a separate issue ;)

[2016-03-01 02:56] #83 closed, assigned to nobody

[2016-03-01 19:21] #58 closed, assigned to nobody

[2016-03-01 19:21] #59 closed, assigned to nobody

[2016-03-01 19:21] #60 closed, assigned to nobody

[2016-03-01 19:21] #61 closed, assigned to nobody

[2016-03-01 19:21] #62 closed, assigned to nobody

[2016-03-01 20:12] bacinsky opened #85 "BC broken for AbstractPluginManagerFactory"
Excuse me, but

changing this: https://github.com/zendframework/zend-mvc/blob/release-2.6.3/src/Service/AbstractPluginManagerFactory.php#L32
to this: https://github.com/zendframework/zend-mvc/blob/release-2.7.0/src/Service/AbstractPluginManagerFactory.php#L36
is a violation of backward compatibility.

My projects suddenly screams: Argument 1 passed to FooBarHelperPluginManager::__construct() must

[2016-03-01 20:30] bacinsky opened #86 "BC broken for ServiceListenerFactory"
Removed DependencyInjection:
https://github.com/zendframework/zend-mvc/blob/release-2.6.3/src/Service/ServiceListenerFactory.php#L88
https://github.com/zendframework/zend-mvc/blob/release-2.6.3/src/Service/ServiceListenerFactory.php#L52
is a BC violation:
https://github.com/zendframework/zend-mvc/blob/release-2.7.0/src/Service/ServiceListenerFactory.php

I'm not offending but this is just horrible

[2016-03-02 05:48] metanav opened #87 "Deprecation warning"
I am getting following warning after upgrading zend-mvc:
_ServiceLocatorAwareInterface is deprecated and will be removed in version 3.0, along with the ServiceLocatorAwareInitializer. Please update your class My\Controller\MyController to remove the implementation, and start injecting your dependencies via factory instead._

I have read the CHANGELOG and I understand why this warning is coming. Bu

[2016-03-02 06:40] froschdesign commented on #87
Here is the problem: https://github.com/zendframework/zend-mvc/blob/master/src/Controller/ControllerManager.php#L223

[2016-03-02 06:46] metanav commented on #87
That's my concern. Now there is no implementation of ServiceLocatorAwareInterface so why this warning?

[2016-03-02 06:46] froschdesign commented on #87
@metanav
I updated my previous comment. (Sorry, I was too slow!)

[2016-03-02 06:48] froschdesign commented on #87
I think, the warning is good, but message is wrong.

[2016-03-02 07:01] metanav commented on #87
I agree with you regarding the message. But could you please explain the logic behind triggering this warning when  you have a method  setServiceLocator in your controller?   Suppose I have controller and factory like this:
(Note: Neither I am extending AbstractController class or implementing ServiceLocatorAwareInterface)

[code]

[2016-03-02 07:15] froschdesign commented on #87
With a factory you do not need the Service Locator in your controller.

[2016-03-02 07:34] bgaillard commented on #87
Hi, we also encounter this problem, sorry to complain again but this is the third problem we have in one week with the ZF 2 updates :(

Could this be fixed quickly ?

[2016-03-02 07:37] wtabata commented on #87
In all my controllers appear as message: " Deprecated: ServiceLocatorAwareInterface is deprecated and will be removed in version 3.0 [...]"

:( and now!?

[2016-03-02 08:33] someother1 commented on #87
same here - i recognized multiple changes in the past weeks, which will break here or there some things (example: https://github.com/bjyoungblood/BjyAuthorize/issues/304).

its like, working with an apple nowadays..

please provide some informations what to do, to clear the deprecated issue

[2016-03-02 08:33] rajitha081189 commented on #87
" Deprecated: ServiceLocatorAwareInterface is deprecated and will be removed in version 3.0, along with the ServiceLocatorAwareInitializer. " I am getting this error all over my application controller. Can anyone help?

[2016-03-02 08:36] froschdesign commented on #87
**The message is good and important for all developers!**

For you production system you should use a different [`error_reporting` level](http://php.net/manual/en/function.error-reporting.php).

[2016-03-02 08:46] someother1 commented on #87
Sorry, but this is, at least for me, inacceptable.
As i develop in my development system to see all errors, this deprectaed message is breaking my layout.
For sure i could supress by set another error_reporting, but i want to see all errors on development.
I dont use the "setServiceLocator" method in any class, and as "metanav" already wrote, its a default extend which have to be defined for every

[2016-03-02 08:46] rajitha081189 commented on #87
Still the issue exists. I had given error_reporting(0); in my controller function. But it is not working as i expected. Is it possible for me to change the version of Zend service Manager to Previous?

[2016-03-02 08:49] froschdesign commented on #87
@someother1

This is correct. Therefore I wrote:

[2016-03-02 08:51] froschdesign commented on #87
@rajitha081189

This is too late! `error_reporting` is a configuration option so use the config files of your application or the PHP configuration.

[2016-03-02 08:54] bgaillard commented on #87
@froschdesign

IMO doing this triggers the warning.

[code]

So here using the API **normally** (i.e as explained in the ZF 2 docs) triggers a Warning.

So I do not agree with you because a warning should be displayed if an API is used with **abnormal** calls and manipulations (which is definitly not the case here).

[2016-03-02 08:55] rajitha081189 commented on #87
Ok thanks. Its work for me right now. When I put it on the global.php file in Config folder. But need a better solution.

[2016-03-02 09:00] froschdesign commented on #87
@bgaillard

This is only a warning for deprecation. Nothing more or less.
Trigger a `E_USER_DEPRECATED` message is the normal and right way.

[2016-03-02 09:02] froschdesign commented on #87
@rajitha081189

This is the normal way for `E_USER_DEPRECATED`. (On your production system you should use the PHP configuration.)

[2016-03-02 09:13] metanav commented on #87
@froschdesign I understand what you mean and I don't have any issue with E_USER_DEPRECATED or any such kind of error reporting messages, they are really helpful. But they are useful only when they are meaningful and in appropriate places. The first case when a developer implements 'ServiceLocatorAwareInterface' it MUST be  triggered but not for the  other case when only 'setServiceLocator' is defi

[2016-03-02 09:21] froschdesign commented on #87
@metanav

Right!

The error message is wrong, but the hint for this "old" standard method is correct. In version 3.0 this messages will removed. It's only a small migration step in 2.7 to 3.0.

[2016-03-02 09:24] metanav commented on #87
Do you mean we should never inject  a service locator or have a setServiceLocator method in a controller class because it is an anti-pattern? If yes, I think this is fine and only thing is the message should be changed for the other case.

[2016-03-02 09:26] froschdesign commented on #87
You get it! :+1:

[2016-03-02 09:56] snapshotpl commented on #87
Ok, but `Zend\Mvc\Controller\AbstractController` by default have still `setServiceLocator` method. It's any way to disable this warning? Maybe should we remove `setServiceLocator` method and implement it by `__call`?

[2016-03-02 10:00] froschdesign commented on #87
@snapshotpl

See [`error_reporting`](http://php.net/manual/en/function.error-reporting.php).

[2016-03-02 10:04] snapshotpl commented on #87
@froschdesign I know about it. But I think that should be other way to do that (refactor something). zend-mvc shouldn't trigger warnings by default, only my bad usage. `__call` will be good replacement

[2016-03-02 10:07] metanav commented on #87
I think @snapshotpl has a good point. This way we can get rid of setServiceLocator() method and also it will be BC/FC.

[2016-03-02 10:12] snapshotpl commented on #87
Or add option to disable `injectServiceLocator` method

[2016-03-02 10:26] snapshotpl commented on #87
If `$serviceLocator` property in `AbstractController` was private then `getServiceLocator` usage would trigger warning. Any other ideas?

[2016-03-02 10:37] dymen1 commented on #87
@froschdesign Why is it necessary to throw an error when the method **setServiceLocator** exists? I know we should use a factory to inject dependencies, but what if I want to use that method name for something else?

[2016-03-02 10:41] froschdesign commented on #87
@dymen1
It's only for migration from version 2 to 3. In future versions you can use `setServiceLocator` without deprecation warnings.

[2016-03-02 10:43] froschdesign commented on #87
@snapshotpl
`ServiceLocatorAwareInterface` is deprecated and also the included method `setServiceLocator`. Trigger an error with `E_USER_DEPRECATED` is the right way, because this code will not work in future versions.
It's a good practice to prepare the migration to a newer version with BC breaks.

[2016-03-02 10:53] dymen1 commented on #87
@froschdesign I understand that it's for easier migration, the only issue right now is that \Zend\Mvc\Controller\AbstractController has a **setServiceLocator** method. This results in most Controller classes throwing the deprecation error.

[2016-03-02 11:11] froschdesign commented on #87
@dymen1

Right! But:
1. This should be not a problem in a production environment. (`error_reporting`)
2. A deprecation warning in version 3 is too late. So it can be only the previous version.

[2016-03-02 11:26] axelcho commented on #87
@froschdesign It is not a matter of right or wrong. By throwing a warning across the system, you are seriously interfering day to day operation of many developers. In real life I have to explain to other developers why we should use Zend Framework, and my best argument so far was enterprise friendly mature framework. The recent hiatus in Zend Development made me seriously doubt about that assessme

[2016-03-02 11:50] froschdesign commented on #87
@axelcho

If you want to use the latest version in your development, than you can turn off only the `E_USER_DEPRECATED` warnings or you need to think about porting your code. This is a harsh solution, but easier if there is no warning for deprecation and with version 3 nothing works anymore.

If you follow ZF on Github or Twitter you can jump in before these changes we merged into the master branc

[2016-03-02 12:04] froschdesign commented on #87
@ all
Thanks for the feedback. We will wait for @weierophinney the project maintainer.

[2016-03-02 13:07] weierophinney commented on #87
I'm just waking up now and seeing this. I have a few ideas on how to proceed, and will be implementing then as soon as I have a chance. In the meantime, I'll be locking the thread; we have more than enough information to proceed with at this time.

[2016-03-02 14:54] weierophinney commented on #87
A patch is ready in #88; I'm waiting for Travis to run before merging and tagging. If anybody wants to test, add the following to your `composer.json`:

[code]

and add a requirement for zend-mvc as follows:

[code]

and then run `composer update`.

[2016-03-02 15:13] froschdesign commented on #87
Fixed with #88 and released as [2.7.1](https://github.com/zendframework/zend-mvc/releases/tag/release-2.7.1)

[2016-03-02 15:13] #87 closed, assigned to weierophinney

[2016-03-02 19:38] wtabata opened #89 "Still continue appear message warning: Deprecated"
In " \zend-mvc\src\Controller\AbstractController.php on line 258 "

Let me see if I got it right. I can not use getServiceLocator() in the controller? I have to send all pendencies by factories? Even extending AbstractActionController?

[2016-03-02 20:07] weierophinney commented on #89
@wtabata Yes. We're emitting it at that location for a number of reasons:
- We had to remove the `ServiceLocatorAwareInterface` implementation from `AbstractController` due to the fact that it _does not exist_ in zend-servicemanager v3; we want developers to be able to upgrade to that version if desired, but we could not do so while still implementing that interface.
- For backwards compatibility

[2016-03-02 20:07] #89 closed, assigned to nobody

[2016-03-02 20:23] wtabata commented on #89
@weierophinney terrific!!

[2016-03-03 17:29] tasmaniski commented on #89
Thanks for the extensive explanation!

But still I have an issue regarding to "_Alternately: start updating your code to remove this usage..._".

I already have all dependencies injected via factory in constructor and I never use getServiceLocator() method (but I am using ControllerPlugins).
Should we remove "MyController **extended AbstractActionController**" ?
I didn't found in migration guide c

[2016-03-03 18:38] ddetyuk opened #90 "[2.7.1] Zend\Mvc\Controller\Plugin\Forward"
Zend\Mvc\Controller\Plugin\Forward do not detach Zend\Mvc\View\Http\InjectViewModelListener listener

https://github.com/zendframework/zend-mvc/blob/master/src/Controller/Plugin/Forward.php#L195-L196

sould be

[code]

instead of

[code]

[2016-03-03 19:07] weierophinney commented on #89
Which plugins are you using, specifically?
On Mar 3, 2016 11:29 AM, "Alex" notifications@github.com wrote:

[2016-03-03 19:14] tasmaniski commented on #89
_Redirect, FlashMessenger, Identity, Params and Layout_.
I don't have message warning: Deprecated anymore, I am just curious about migration to new zend-mvc.
Should we do something else except remove usage of  getServiceLocator() in Controller.

[2016-03-04 08:13] evgheni7 commented on #89
Small offtopic, but related:

What possibilities to sign setter to be clear is required for this class (by constructor is clear)?

[2016-03-04 23:31] steverhoades opened #91 "[2.7.1] composer.json missing dependency on zend-serializer"
Zend\Mvc\Service\SerializerAdapterPluginManagerFactory explicity uses Zend\Serializer\AdapterPluginManager.  Thus, if installing zend-mvc without the full framework this results in the following error:

[code]

After inspecting the composer.json file it has zend-serializer listed as a require-dev dependency.

[2016-03-04 23:36] steverhoades commented on #91
It looks like this may affect almost everything listed in the require-dev dependency list actually.

[2016-03-05 04:26] weierophinney commented on #91
This is actually on purpose. Most services that have factories should be
considered opt-in: if you don't need to use the service, there's no reason
to install the dependency. However, to make that explicit, our plan for the
v3 release is to move those factories to the respective components (with
some automation magic via composer for wiring them into the application).
On Mar 4, 2016 5:36 PM, "Stev

[2016-03-07 16:04] samsonasik opened #92 "using middleware in 'dispatch' event?"
is it possible to use it in a 'dispatch' event, tried something like this:

[code]

and got the following error:

[code]

While the error is argument 2, the argument 1 is an `MvcEvent` instance.

[2016-03-07 16:25] samsonasik commented on #24
I've created PR #93 for it

[2016-03-07 16:41] weierophinney commented on #92
No, because they accept completely different arguments!

Event listeners receive an event instance, while middleware accepts a request, response, and optionally "next" callable. On top of that, the request and response from the MvcEvent are the zend-http types.

You could certainly wrap the middleware to make this happen:

[code]

[2016-03-07 16:56] samsonasik commented on #92
Thank you... I think it need to be documented ;)

Warm regards,

Abdul Malik Ikhsan

Pada 7 Mar 2016, pukul 23.41, weierophinney notifications@github.com menulis:

[2016-03-07 17:21] weierophinney commented on #92
Why? The MiddlewareListener details its scope clearly already, and that scope does not include arbitrary event listeners... If you'd like to contribute a cookbook recipe, however, feel free to send a pull request. :wink:

[2016-03-07 17:43] samsonasik commented on #92
@weierophinney here we go https://github.com/zendframework/zend-mvc/pull/94 for the PR doc ;)

[2016-03-08 16:25] #91 closed, assigned to nobody

[2016-03-08 16:29] weierophinney commented on #86
@bacinsky —

Yes, actually, you are.

We are trying _very_ hard to avoid BC breaks. However, with so many moving parts, and an inability to test every single possible combination of components, this is often quite difficult. Our automated tests catch a ton, and as we make changes, no change is merged if a test is failing. But there's inevitably some breakage.

Please _assume that we are trying our

[2016-03-08 16:40] bacinsky commented on #86
@weierophinney Thank you for a nice comment, I agree that my report is not respectable and professional at all. I was under emotional pressure and it's like it is. I'm sorry and thank you for your hard work.

[2016-03-08 16:43] weierophinney commented on #85
@bacinsky zend-mvc 2.7 now pins to zend-servicemanager `^2.7.5 || ^3.0.3`. The 2.7 series of zend-servicemanager updates the constructor of the `AbstractPluginManager` to allow both backwards compatibility with previous versions, as well as forwards-compatibility with the 3.0 series.

In the 2.X series, the first (and only) argument accepted to the constructor was a `Zend\ServiceManager\Config` in

[2016-03-08 16:45] #86 closed, assigned to weierophinney

[2016-03-08 16:46] weierophinney commented on #90
Referenced the wrong issue in a commit I pushed; re-opening.

[2016-03-08 17:57] #90 closed, assigned to weierophinney

[2016-03-08 18:02] #24 closed, assigned to nobody

[2016-03-08 18:09] weierophinney commented on #42
Fixed with #43

[2016-03-08 18:09] #42 closed, assigned to nobody

[2016-03-08 20:42] weierophinney commented on #46
Finally at a point where we can start acting on this, and will respond to a few things before beginning.

## Table of Contents
- [Responses to Feedback](#responses-to-feedback)
- [Current Status](#current-status)
- [Proposed Dependencies](#proposed-dependencies)
- [Roadmap](#roadmap)

## Responses to Feedback

@MichaelGooden — regarding this:

I like that idea! Considering the module list varies b

[2016-03-08 20:53] gianarb commented on #46
@weierophinney thanks for this summary!

It could be a suggested integration of all ZF ecosystem with Zend\Mvc, we can install this module as default into the ZendSkeletonApplication in order to maintain a similar experience for the users that don't care about witch components use or not.
But we will be a strong Mvc component without doesn't required dependencies and we don't dirty each component

[2016-03-08 23:21] weierophinney commented on #46
@gianarb My argument for pushing into the components themselves is to allow simplified re-use _regardless of the framework_.
- The factories _belong with the components_. Most of the dev dependencies exist to test factories. In a number of cases, I found the tests for these factories _in the components themselves_, which was an odd dependency inversion.
- How the factories are wired into the servi

[2016-03-08 23:34] weierophinney commented on #46
New finding: zend-stdlib is _definitely_ required; we use it for `DispatchableInterface`, which consumes its own `RequestInterface` and `ResponseInterface`, as well as its `SplQueue` implementation.

[2016-03-09 05:59] gianarb commented on #46
I understand, I try to do some questions:
- Where we move the factories we must add `Zend\ServiceManager` dependency as "require" or you suggest to add another "suggest if you use" this factory?
- Other point is the controller plugins, for example the IdentityPlugin will be move into the `Zend\Authentication`, with `Zend\Mvc` as "suggest if you use" dependency?

The skeleton application will conta

[2016-03-09 10:20] hoppithek commented on #46
@weierophinney Thanks for summing this up. I still say "including and exporting" will remove a lot from the file. The alternative you suggest: static parsing, which in the linked examples breaks down to a `preg_replace` of the file content is possible, but will just as often fail. Nonetheless, as long as the files being manipulated are simple, I think it will work. If it doesn't it might still be

[2016-03-09 14:03] weierophinney commented on #46
@gianarb —

Most of these _already_ have a dependency on zend-servicemanager. In the few cases where they do not, yes, it becomes a suggested dependency (and a development requirement).

No, these will stay in zend-mvc. Plugins are points of integration, and should stay there. In those cases, the dependency becomes a suggestion, as not all plugins are used in every application.

You're making the

[2016-03-09 14:24] Rud5G opened #98 "Question: Why is E_USER_DEPRECATED used in stead of E_DEPRECATED?"
In my production php.ini the error_reporting settings are:

[code]

This does not filter the E_USER_DEPRECATED triggered in https://github.com/zendframework/zend-mvc/blob/master/src/Service/ServiceManagerConfig.php#L127

[2016-03-09 14:26] Rud5G commented on #98
Maybe i should have added this to #88

[2016-03-09 16:56] weierophinney commented on #98
Because `E_DEPRECATED` can only be triggered by PHP itself, to indicate deprecated functionality in the PHP engine itself. For userland code (_including_ frameworks and libraries!) to trigger deprecation notices, you must use `E_USER_DEPRECATED`.

BTW, you can add that to the `error_reporting` mask, too:

[code]

[2016-03-09 16:56] #98 closed, assigned to nobody

[2016-03-09 17:13] Rud5G commented on #98
Thanks!, just wanted to be sure.

[2016-03-10 08:49] svycka opened #100 "parsing json can throw RuntimeException in AbstractRestfulController"
in AbstractRestfulController here https://github.com/zendframework/zend-mvc/blob/ba5c1e124ba07965bfadc1abe2373431025e73db/src/Controller/AbstractRestfulController.php#L453 and https://github.com/zendframework/zend-mvc/blob/ba5c1e124ba07965bfadc1abe2373431025e73db/src/Controller/AbstractRestfulController.php#L576 can throw not catched exceptions leading to 500 response when header `Content-Type: ap

[2016-03-10 09:16] svycka commented on #100
To be more clear. In this situation I would like to not throw exception but validate the input and return with proper error message instead of this error. But this happens before I can do any validation in the controller.

[2016-03-10 22:48] ronan-gloo commented on #89
Hi,

Into a business (or service, or model) layer, i'm more than agree with this assumption, dependencies must be required and explicit as much.

But for front controllers, as some MVC layers promote them, constructor dependency injection can be a huge waste of resources.

Given  a typical CRUD controller, where the post / update action requires a form as dependency. Why should we inject a sometim

[2016-03-11 14:24] weierophinney commented on #89
@ronan-gloo We provided an answer to that scenario (conditional dependencies) in ZF 2.3, via [lazy services](http://zendframework.github.io/zend-servicemanager/lazy-services/). The recommendation is to use lazy services when you have a dependency that is only used in some code paths; these are injected as _normal dependencies_, i.e., via constructor or setter injection. The benefit they provide is

[2016-03-15 16:27] weierophinney commented on #46
@MichaelGooden I've updated zend-component-installer to act as a composer plugin, and it now addresses the various criteria you outlined (discovering the multiple configuration files supported, prompting as to which one to inject into, allowing the option of "no injection"). At this point, that puts us in a position that we can start the work of separating out the various component-specific functi

[2016-03-15 17:25] weierophinney commented on #46
Roadmap posted to https://github.com/zendframework/maintainers/wiki/zend-mvc-v3-refactor:-reduce-components

[2016-03-15 18:15] dionisiolouro commented on #89
Hi,
how should I order the Doctrine\ORM\EntityManager now? The documentation recommends that you do the getServiceLocator ( )

[2016-03-15 20:07] NeftaliYagua commented on #89
I think we should correct documentation with the correct method, so we avoided continue to develop wrong code.

[2016-03-17 18:07] xLeonius opened #103 "Deprecated error. Need a quick solution please!"
I have been searching for a solution to this issue for 3 days and I couldn't find an appropriate solution. Every time I get the same Issue, it just says deprecated. Here is what I get on my website:

Deprecated: ServiceManagerAwareInterface is deprecated and will be removed in version 3.0, along with the ServiceManagerAwareInitializer. Please update your class SmallUser\Service\User to remove the

[2016-03-17 18:09] weierophinney commented on #35
Is this still true on the latest versions?

[2016-03-17 18:26] weierophinney commented on #103
I've addressed this before in #89, in [a comment](https://github.com/zendframework/zend-mvc/issues/89#issuecomment-191404454). Essentially, we're deprecating the usage of `getServiceLocator()` for the upcoming version 3, and providing you with deprecation notices whenever you use that method from a controller.

There are a few solutions:
- In your `error_reporting`, disable `E_USER_DEPRECATED` rep

[2016-03-17 18:26] #103 closed, assigned to weierophinney

[2016-03-25 11:07] axelcho opened #106 "Deprecation Warning Not appearing on ViewHelper"
I was reviewing a code submitted by another developer. He was creating a new ViewHelper, and he implemented ServiceLocatorAwareInterface to load some services in the ViewHelper. The code actually located service using ServiceLocator.

I have been following #87 and I expected a deprecation warning. I did not see anything.

As for our code, we refactored it using factories. Just wondering about the

[2016-03-30 01:04] dbierer commented on #89
Hate to sound like a dinosaur ... but by forcing developers to pre-inject everything, we're back to the good old create a base class and extend it paradigm.  The idea of inversion-of-control is that we're not bogging down classes with unneeded functionality, right?  So if I have a controller where 1 method needs X and 4 methods do not, by pre-injecting X I'm wasting resources 80% of the time.

[2016-03-30 03:27] Ocramius commented on #89
Hey Doug,

The fact that you pre-inject things that you won't use indicates some SRP
issues. Regardless of that, you can still just make the injected services
lazy, which will prevent any init-time I/O

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 30 March 2016 at 03:04, Doug Bierer notifications@github.com wrote:

[2016-03-30 18:58] markushausammann opened #109 "Call to undefined method Zend\Mvc\View\Http\ViewManager::getExceptionStrategy()"
I have this code:

[code]

Which started triggering an Error:

because `getExceptionStrategy()` is obviously missing. How to do the same things now?

[2016-03-30 21:09] weierophinney commented on #109
It's in the service manager now as the service `HttpExceptionStrategy`:

[code]

This means you can also supply your own listener aggregate to attach as an exception strategy by overriding that service.

[2016-03-31 12:19] markushausammann commented on #109
Thank you for your quick help Matthew.

What we did already before was this:

[code]

... and it still seems to work the same way. I just needed to replace that one line of code you provided.

[2016-03-31 12:30] #109 closed, assigned to nobody

[2016-04-07 12:33] zluiten commented on #85
Small bc break, I had this problem as well.

[2016-04-12 20:31] weierophinney commented on #52
Done - it's in [zend-mvc-plugin-flashmessenger](https://zendframework.github.io/zend-mvc-plugin-flashmessenger).

[2016-04-12 20:31] #52 closed, assigned to nobody

[2016-04-12 20:34] weierophinney commented on #100
@svycka If you want to validate, override the method:

[code]

Alternately, make the method override a no-op, and manually handle it.

[2016-04-12 20:34] weierophinney commented on #46
Completed as of #128 !!!!

[2016-04-12 20:34] #46 closed, assigned to nobody

[2016-04-12 20:35] weierophinney commented on #35
Closing, as this is addressed with the v3 work (now completed as of #128).

[2016-04-12 20:35] #35 closed, assigned to nobody

[2016-04-12 20:36] weierophinney commented on #17
Addressed with the various refactors that culminated in #128, and to release with v3.

[2016-04-12 20:36] #17 closed, assigned to nobody

[2016-04-12 20:37] weierophinney commented on #22
Could you re-post this against [zend-mvc-plugin-fileprg](https://github.com/zendframework/zend-mvc-plugin-fileprg), please? Thanks!

[2016-04-12 20:37] #28 closed, assigned to nobody

[2016-04-12 20:38] weierophinney commented on #1
zend-router now exists: [zend-router](https://zendframework.github.io/zend-router/).

As for Dash, that can/should be offered as a parallel offering, and I've already spoken to @DASPRiD about it.

[2016-04-12 20:38] #1 closed, assigned to nobody

[2016-04-13 06:05] svycka commented on #100
@weierophinney so I should do it like this?

[code]

but how many user does this? this is not documented and at least I didn't know this until sow errors in logs.

if this is desired behavior then feel free to close this.

[2016-04-13 10:09] kachaj7 opened #129 "Deprecated: You are retrieving the service locator from within the class..."
This code in production, are you kidding me? I'm a developer and what changes will be made in next Version I will read in documentation from ZF3. Do you know @DEPRECATED??? I see the problem is for weeks in the Code. I think I must change the framework, if you are making such thinks and discussing that you will learn people to program well...

If I hide the errors, I don't see other thinks, so thi

[2016-04-13 13:25] weierophinney commented on #100
@svycka At this point, it's the intended behavior; the `AbstractRestfulController` provides a convenience layer for the 80% use case.

Another option is to do the validation _earlier_, which is what Apigility does. In zf-content-negotiation, we have a route listener (on negative priority; runs once we know what route was matched) that does the body parameter parsing. This allows us to return a 400

[2016-04-13 13:25] #100 closed, assigned to nobody

[2016-04-13 14:21] weierophinney commented on #129
First: please watch your tone. You are using a _free_ framework, paying _nothing_ for support, and using language that is frankly rude and aggressive towards the many volunteers that work on the project. I strongly urge you to read the [code of conduct](https://github.com/zendframework/zend-mvc/blob/master/CONDUCT.md) before you comment or raise issues again, specifically points 7 and 8.

Next, I'

[2016-04-13 14:21] #129 closed, assigned to nobody

[2016-04-13 14:47] kachaj7 commented on #129
Sorry for the tone, but the programming way that is made from last time is not possible to understand for me.
What I mean:
1 If changes are made in the same version I understand that if I update I don't need care about working right? Last update from ca. 2.3 to ca. 2.5 Version. There was restructuring of the Project which was destroying the compability to previous versions. I think this should't h

[2016-04-13 15:12] weierophinney commented on #129
Can you point to specific issues, please? The only complaint I've seen over and over again with the 2.5 releases was the updated minimum PHP version (bumping from 5.3 to 5.5). This is something we've done _many_ times over the years, and is largely not seen as a requirement for a new _major_ version of the project. Users can opt-in to the new minor release, or not. (More on that below.)

Assuming

[2016-04-13 21:56] chiduke2001 opened #130 "Error In launching Nginad"
Hi,
I installed the nginad server but it has errors and cant work.
there's some issue with the MySQL Database tables. The system is throwing error with every login attempt, you can try any login info at http://68.233.227.45/auth/authenticate.

Please confirm if the Database Scheme here: https://nginad.atlassian.net/wiki/display/NGIN/Installing+NginAd+MySQL+Database+Server+RDB# is the valid databas

[2016-04-13 22:20] weierophinney commented on #130
Please report your issue to NginAd, as the problem is with their usage of zend-authentication and/or your own configuration of the database for interfacing with their product.

[2016-04-13 22:20] #130 closed, assigned to nobody

[2016-04-14 21:07] chiduke2001 commented on #130
Hi,

NginAd is not responding.

I wonder the low class customer service they have.

Please is there anything you can do to help?

Thanks

[2016-04-16 02:42] samsonasik commented on #92
closing in favor of #94

[2016-04-16 02:42] #92 closed, assigned to weierophinney

[2016-04-17 10:43] samsonasik opened #133 "try zend-mvc dev-develop got error: "Could not find a valid ServiceManager for RoutePluginManager""
This is my composer.json's config:

[code]

The full error like the following:

[code]

any other steps missing? Thanks

[2016-04-17 12:20] weierophinney commented on #133
The develop branch is incompatible with the framework metapackage. As such, change your require section to only include php and MVC. Try that, and see if you get better results.

[2016-04-17 12:26] weierophinney commented on #133
Also, to be fair, we have not yet done any integration testing; there's bound to be done errors cropping up. We'll be tackling that in the coming weeks.

[2016-04-20 03:55] samsonasik commented on #133
ok :+1: closing in favor of https://github.com/zendframework/ZendSkeletonApplication/pull/329

[2016-04-20 03:55] #133 closed, assigned to nobody

[2016-04-21 07:16] ThaDafinser opened #135 "Small typo 2.6.4 instead of 2.6.3"
https://github.com/zendframework/zend-mvc/releases/tag/release-2.6.3

The title is `2.6.4` so i was searching on packagist but it was not published, since it's the 2.6.3 release :smile:

[2016-04-25 17:02] sophpie opened #136 "ModuleRouteListener not attached by default"
I haven't see anything about that, and I am not sure, but it seems that since 2.7 ModuleRouteListener is not attached by default to EVENT_ROUTE. Is it the result of my misunderstanding, or a regression ?

[2016-04-25 17:42] weierophinney commented on #136
We've never attached it by default within zend-mvc, only within the skeleton application:
- https://github.com/zendframework/ZendSkeletonApplication/blob/57c1011bb356546d0b4b8b6b3b26bd5e870acbcf/module/Application/Module.php#L20-L21

As such, check and see if you introduced a change into that file in your application.

[2016-04-25 17:42] #136 closed, assigned to nobody

[2016-04-26 05:58] sophpie opened #137 "Why removing ServiceLocator dependency within ControllerAbstract ?"
As one of the most valuable thing of a service locator is to build service on demand, what is the purpose of removing dependency to ServiceLocator into Controllers ?

Now we have to invoke services and inject them into the controller even if at the end those services will not be called by controller.

By design, afaik, a service locator is made to be a dependency to any of its client, if not it be

[2016-04-26 13:44] Ocramius commented on #137
Hey @sophpie,

The main goal is reducing run-time service-location operations. Service location causes coupling with an interface that solves a problem that is orthogonal to the currently solved problem. This means that any operation now involves coupling with:
1. a string (the name of the service) (no guarantees here)
2. a SL interface
3. the exceptions that the service locator may throw
4. the s

[2016-04-26 14:44] #137 closed, assigned to nobody

[2016-04-26 14:44] weierophinney commented on #137
@Ocramius Thanks for the write-up! I was in the middle of a lengthy one when you posted, so there's some duplication, but I'm going to post anyways.

The intent of zend-servicemanager is for use as an [Inversion of Control](https://en.wikipedia.org/wiki/Inversion_of_control) container.

It was never intended as a general purpose [service locator](https://en.wikipedia.org/wiki/Service_locator_patte

[2016-04-28 14:20] wagnerjsilva commented on #103
What about $this->serviceLocator->get('Error_Logger')?

I seem to be able to do that from the controller without any deprecation messages.

[2016-04-28 15:23] Okeanrst commented on #103
For example:

in module.config.php

[code]

In CollectionControllerFactory:

[code]

in CollectionController:

[code]

or manually in ControllerFactory inject in Controller serviceLocator

2016-04-28 17:20 GMT+03:00 Wagner Silva notifications@github.com:

[2016-05-09 13:47] svycka commented on #50
@kabirbaidhya duplicate https://github.com/zendframework/zend-mvc/issues/100

[2016-05-12 07:05] #50 closed, assigned to nobody

[2016-05-14 19:13] danmarinescu79 commented on #73
Hello ,

if you clear the current messages `$flashMessenger->clearCurrentMessages();` after the last echo the issue with your custom helper is appear to be fixed

[2016-05-23 17:16] popovserhii opened #140 "AJAX + Forward plugin return 500 Internal Server Error"
I try to call chain of forward plugin in my action through ajax request for get only needed html content but in response return 500 error (in logs nothing).

I have two actions

[code]

 and relative templates

[code]

[code]

This is how I send ajax request through firefox http://screencast.com/t/dYwuyPDm

[2016-05-23 18:15] weierophinney commented on #103
@wagnerjsilva —

Don't do that.

Why? Because once you update to zend-servicemanager v3, and zend-mvc v3, the property not only is not injected, _but does not exist_. Follow the instructions from my previous comment.

[2016-05-23 19:19] wagnerjsilva commented on #103
Probably good idea to add a deprecation message there too.

I've always used the service manager to prevent objects being instantiated multiple times.

Will the new approach give us any sort of functionality as Zend 1 Zend_Registry?

`
class YourControllerFactory
{
    public function __invoke($container)
    {
        return new YourController($this->get('Db\ApplicationAdapter'));
    }
}`

I can

[2016-05-23 19:26] weierophinney commented on #103
@wagnerjsilva —

Regarding:

We can't add deprecation notices for property access; PHP doesn't allow intercepting that.

Regarding:

and

This is and has always been the case; the service manager caches instances after initial creation (unless configuration indicates a particular service is not shared). `get()` will return the same instance on each request.

Regarding:

No, because zend-serviceman

[2016-05-23 19:39] wagnerjsilva commented on #103
Nice! Thanks for clearing that up.

[2016-05-26 23:41] michalbundyra commented on #140
Not sure if this bug is reported in proper repository. It is caused by:
https://github.com/zendframework/zend-view/blob/master/src/View.php#L232-L234
(when child model is terminated - `setTerminal(true)`).

When you comment out above lines in `Zend\View\View.php` it's gonna work as expected.
I couldn't find anything interesting in tests to understand why we need throw an exception in that case - t

[2016-05-27 06:47] popovserhii commented on #140
@webimpress
I report this is general `zendframwork` [repostitory](https://github.com/zendframework/zendframework/issues/7708#event-669134199) but I was asked move this issue here

[2016-05-27 08:42] Slamdunk opened #142 "Make attachments and priorities clearer"
Hi, it's 3 years now that I use ZF2, and before the release of MVC v3 I have to ask your thoughts about a change that, in my humble opinion, would make the logic much more easy to follow, for both newcomers and experts.

Since the day I started till now, the extensive use of `Zend\EventManager\AbstractListenerAggregate` with priorities written withing the listener buzzes and clashes me a lot, some

[2016-05-31 17:24] weierophinney commented on #135
Fixed; thanks!

[2016-05-31 17:24] #135 closed, assigned to nobody

[2016-05-31 17:25] #85 closed, assigned to nobody

[2016-05-31 17:31] weierophinney commented on #106
View helpers are governed by the zend-view `HelperPluginManager`. Interestingly, that plugin manager does not register an initializer for injecting the `ServiceLocatorAwareInterface` instances!

However, the `Zend\View\Helper\Navigation\PluginManager` _does_, as the navigation helpers need access to navigation containers, which are registered as services at the application level. This initializer

[2016-05-31 17:31] #106 closed, assigned to nobody

[2016-05-31 17:41] weierophinney commented on #142
Priorities serve two purposes:
- They allow ordering of listeners. In zend-mvc and zend-modulemanager in particular, order is often quite important, particularly as listeners can short-circuit execution.
- Having fine-grained priority allows users to push their own listeners onto the stack in specific locations within the event workflow. To use your example of the `SendResponseEvent` above, a deve

[2016-05-31 17:41] #142 closed, assigned to nobody

[2016-06-01 13:24] PhoneBuster opened #146 "Throwable vs. Exception"
I use zend-mvc 2.7.8. If i have a bad argument in my own factory the framework throws the following error :

**Fatal error: Uncaught TypeError: Argument 4 passed to Zend\Mvc\DispatchListener::marshalBadControllerEvent() must be an instance of Exception, instance of TypeError given...**

To fix this i've to change the the argument type in the DispatchListener class (method marshalBadControllerEvent

[2016-06-01 13:31] Ocramius commented on #146
Due to PHP 5.x compatibility, the quickest solution for now is to drop the type-hint completely

[2016-06-01 13:58] PhoneBuster commented on #146
My PHP Version is 7

[2016-06-01 14:21] Ocramius commented on #146
The library still supports some versions of PHP 5.x

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 1 June 2016 at 15:58, PhoneBuster notifications@github.com wrote:

[2016-06-01 15:22] visitek opened #147 "zendframework/zend-mvc-plugin-flashmessenger is missing"
There is not any composer package zendframework/zend-mvc-plugin-flashmessenger https://packages.zendframework.com/

[2016-06-01 15:23] #147 closed, assigned to nobody

[2016-06-02 16:19] simonmacor opened #148 "Notice: Undefined variable: serviceLocator"
Hi,
The error is in Service/DiAbstractServiceFactoryFactory.php on line 32
I'm getting this error when I try create a service with a factory.

[code]

The problem seems to be present since the release 2.7.0

[2016-06-02 18:10] michalbundyra commented on #148
@weierophinney could you please create branch `release-2.7` and then will be possible to create PR with the fix against this branch?

[2016-06-02 21:16] weierophinney commented on #148
@webimpress Branch is now created, based on release-2.7.8. Ping me when you have a PR ready.

[2016-06-02 21:24] waltertamboer commented on #41
You might enjoy [@juriansluiman's library](https://github.com/juriansluiman/SlmLocale) ([URI path docs](https://github.com/juriansluiman/SlmLocale/blob/master/docs/2.Strategies.md#path-segment-of-uri)).

Further more it's possible to translate parts of routes:
https://github.com/zendframework/zend-router/blob/master/src/Http/TranslatorAwareTreeRouteStack.php

[2016-06-03 19:25] albrin opened #154 "rawurlencode function in Regex router"
I doing an online store on ZF2.

I want to make URL as SEO-friendly and user friendly.

For example,

[code]

Nesting categories can be any and is generated dynamically.

My routes

[code]

In view
`<a href="{{ url('catalog_product', {'section': product.section_full_path, 'product': product.code}) }}">`

I get
`/catalog/sectionA%2FsectionB/`
instead of
`/catalog/sectionA/sectionB/`

Because in zen

[2016-06-07 06:41] Moln opened #156 "Why zend-mvc must use PHP5.6 or higher in V3?"
I saw `composer.json` require `"php": "^5.6 || ^7.0"`.
I'm trying to change `^5.5 || ^7.0` , and run application successful.

[2016-06-07 07:19] kokspflanze commented on #156
PHP 5.5 will be outdated on 10 Jul 2016 http://php.net/supported-versions.php, i think that will be the reason for this change. Also it is now possible to use 5.6 features.

https://github.com/zendframework/zend-mvc/pull/128

[2016-06-09 17:15] thexpand opened #157 "Exceptions, thrown in templates not showing"
Since release-2.7.8 there is a problem when an error occurs in the template (even a syntax or parse error). The framework says that an error occurred and "No exception is available".
Sometimes it is frustrating, because I can't even see on which line is the error. I am using the latest PHP7 version (v7.0.7) on Ubuntu 16.10.

[2016-06-09 17:54] zf2timo commented on #157
Maybe this is related to #146

[2016-06-09 18:37] kokspflanze commented on #157
hi,

i reproduce the problem, form my site it looks like that in your error template is a check like

[code]

the problem is that the $this->exception is from class `Error`.

so change it to smth like that

[code]

hope i can help you.

about https://github.com/zendframework/zend-mvc/issues/146 this result in http error code 500 with a error in your webserver logs.

Tested on PHP 7.0.7 CentOS 7

[2016-06-09 18:53] thexpand commented on #157
I don't have any checks in my templates. I'm just calling a method on a non-object. I don't get an error - instead, I get the message: "No exception available" and I have to debug every single line.

[2016-06-09 19:30] weierophinney commented on #157
@thexpand It looks like it's solved in #153; I'll be merging later today and issuing a release.

[2016-06-09 19:42] weierophinney commented on #49
It has not yet been removed, but we clearly note it in the documentation as both deprecated and a security issue:
- http://zendframework.github.io/zend-router/routing/#zend92mvc92router92http92wildcard-deprecated

If you want to match _anything_ following, I'd do so as a `Regex` route:

[code]

which will then capture any path segments after `/foo` as a single string under the route parameter "pat

[2016-06-09 19:42] #49 closed, assigned to nobody

[2016-06-09 19:43] weierophinney commented on #156
Yes, PHP 5.6 is the target version at this point due to the fact that 5.5 will no longer have active support a month from now. We will be aggressively updating our minimum PHP version going forward, in order to promote an ecosystem that keeps their PHP versions secure.

[2016-06-09 19:43] #156 closed, assigned to nobody

[2016-06-09 19:55] weierophinney commented on #140
A model marked as "terminal" means that it should be rendered _by itself_, not as a child of another view model. What that means is that somewhere along the line, a view model was marked as terminal, but then added as a child to another view model.

And, in fact, we can see that above, as _both_ actions do the following:

[code]

And in `oneAction()`, you then also have:

[code]

after forwarding

[2016-06-09 19:55] #140 closed, assigned to nobody

[2016-06-09 23:34] thexpand commented on #157
It's working like a charm! Thanks.

[2016-06-11 18:29] weierophinney commented on #148
Fixed with #158.

[2016-06-11 18:29] #148 closed, assigned to nobody

[2016-06-11 18:44] #157 closed, assigned to nobody

[2016-06-11 18:46] weierophinney commented on #146
Fixed with #153 and release 2.7.9. You may also need to update your error templates per the suggestions in #157.

[2016-06-11 18:46] #146 closed, assigned to nobody

[2016-06-13 02:51] Moln commented on #156
:+1:  Thanks everybody!

[2016-06-13 22:08] gavinlimely commented on #103
Hi @weierophinney, thanks for clearing this up.. Just to clarify, say I have a UsersController that has 5 actions, but only one of the actions requires a dependency, is there any way for me to load the dependency for just that one action? Or do I need to add it to the constructor so it can potentially be used by all of the actions (even though it's not needed).

Cheers

[2016-06-13 22:19] michalbundyra commented on #103
@gavinlimely there are two approaches described in [documentation](http://zendframework.github.io/zend-mvc/migration/to-v2-7/#optional-dependencies)

[2016-06-14 09:07] gavinlimely commented on #103
thank you for the quick reply @webimpress, is there any documentation you know of that uses this in controller context?

[2016-06-18 16:18] albrin opened #162 "Get Service Locator in Controller Plugin"
**Я получаю ошибку:**

**My code:**

[code]

Zend Framework version: "zendframework/zendframework": "~2.5"

P.S.: I'm sorry, I have not yet figured out the changes with Service Manager to ZF3.

[2016-06-18 16:28] Ocramius commented on #162
Change it to:

[code]

Then write a factory for this plugin:

[code]

Now you can add it to your module:

[code]

[2016-06-18 16:28] #162 closed, assigned to Ocramius

[2016-06-18 16:40] Albrin commented on #162
Thank you!

[2016-06-18 17:04] albrin commented on #162
Thank you!

Please, replace in the code only

[code]

It
`use AlbrinPersonal\Factory\Controller\Plugin\AlbrinPersonalCart;`
on this
`use AlbrinPersonal\Controller\Plugin\AlbrinPersonalCart;`

Beginners may like me to come in handy.

[2016-06-18 17:15] Ocramius commented on #162
@Albrin done, thanks

[2016-06-18 18:29] albrin commented on #154
Does anyone think that something about this?
I do not know what to do in this situation, use Regex router and url() plugin.

I really need help with this.

I had never seen such an implementation.

As I understand it for the solution of this issue will need to make changes to the code of the component?

[2016-06-18 21:48] michalbundyra commented on #154
I think the simplest solution will be to write own class - own Route type, and use it in routing.
You just need implement interface [`RouteInterface`](https://github.com/zendframework/zend-router/blob/master/src/Http/RouteInterface.php). Always you can see how [`Segment`](https://github.com/zendframework/zend-router/blob/master/src/Http/Segment.php) and/or [`Regex`](https://github.com/zendframewor

[2016-06-21 21:55] karborator commented on #3
https://github.com/karborator/zend-mvc

[2016-06-28 12:33] GeeH opened #166 "Forward plugin reset params in controller"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7685
User: @popovsergiy
Created On: 2016-03-13T00:50:21Z
Updated At: 2016-03-15T20:33:52Z
Body
I build interface which can render cont

[2016-06-28 12:36] GeeH opened #167 "AbstractRestfulController does not set the Allow headers."
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7674
User: @parkbot
Created On: 2016-02-19T00:12:44Z
Updated At: 2016-02-21T18:14:38Z
Body
https://tools.ietf.org/html/rfc7231#section

[2016-06-28 12:43] GeeH opened #168 "Flash Messenger Namespace Messages Return Nothing"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7632
User: @tomshaw
Created On: 2015-09-29T20:01:05Z
Updated At: 2015-11-06T22:24:52Z
Body
Login controller:

<pre>
$this->flashMessen

[2016-06-28 13:07] GeeH opened #169 "Factory for Input filter factory"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7508
User: @snapshotpl
Created On: 2015-05-08T21:17:45Z
Updated At: 2016-02-21T18:13:16Z
Body

---
### Comment

User: @Martin-P
Create

[2016-06-28 13:10] GeeH opened #170 "EVENT_DISPATCH triggered twice!"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7473
User: @gauthier
Created On: 2015-04-30T16:06:37Z
Updated At: 2015-11-06T21:37:00Z
Body
While hunting a quite weird behavior relat

[2016-06-28 13:15] GeeH opened #171 "Fix controller namespace in event manager"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7457
User: @0xPaul
Created On: 2015-04-22T09:29:40Z
Updated At: 2015-05-04T14:59:12Z
Body
Controller was only registering the root nam

[2016-06-28 13:20] GeeH opened #172 "Added $data parameter to delete() in AbstractRestfulController"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7416
User: @ahoppen
Created On: 2015-04-04T11:06:18Z
Updated At: 2015-11-06T23:57:35Z
Body
Now that the $data parameter has been added

[2016-06-28 13:22] GeeH opened #173 "Suggestion: AbstractRestfulController:$identifierName should default to null"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7395
User: @tylkomat
Created On: 2015-04-01T07:27:21Z
Updated At: 2015-11-06T21:05:28Z
Body
As pointed out on the [mailing list](http:

[2016-06-28 13:23] GeeH opened #174 "Using forward/dispatch results in different RouteMatch class object"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7389
User: @kuldeep-k
Created On: 2015-03-31T08:32:24Z
Updated At: 2015-11-06T21:05:11Z
Body
I am building a rest based auth forwardin

[2016-06-28 13:31] GeeH opened #175 "Unicode breaks Zend/Mvc/Router/Http/* routing setups because it doesn't have unicode flags set on preg_match() calls."
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7335
User: @alerque
Created On: 2015-03-17T13:07:54Z
Updated At: 2016-05-09T03:41:09Z
Body
I just ran into a problem where my app won'

[2016-06-28 13:47] GeeH opened #176 "ViewHelperManager Service cannot be created outside Application context"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7191
User: @boukeversteegh
Created On: 2015-02-06T13:54:40Z
Updated At: 2015-02-06T14:20:45Z
Body
To Bootstrap my unit tests, I had to

[2016-06-28 13:50] GeeH opened #177 "[ZF3] Simplifying MvcEvent"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7185
User: @bakura10
Created On: 2015-02-05T15:11:06Z
Updated At: 2015-11-06T21:25:43Z
Body
Hi everyone,

I think I may already talked

[2016-06-28 13:51] GeeH opened #178 "[ZF3] FlashMessenger: sort by datetime / multiple tagging"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7161
User: @ThaDafinser
Created On: 2015-01-27T11:53:21Z
Updated At: 2015-04-22T08:56:44Z
Body
Since the flashMessenger uses namespace

[2016-06-28 14:03] GeeH opened #179 "Test that Zend\Mvc\View\Console\RouteNotFoundStrategy::renderTable() wil..."
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6929
User: @Jakovitz
Created On: 2014-11-26T11:13:49Z
Updated At: 2014-12-17T10:00:10Z
Body
Test case for issue #6922.

---
### Commen

[2016-06-30 11:30] andreaventuri commented on #146
I still have the same problem in version 3.0.1

[2016-06-30 11:34] michalbundyra commented on #146
It was fixed only on v2.7, here you have issue for v3: https://github.com/zendframework/zend-mvc/pull/161

/cc @weierophinney

[2016-06-30 20:33] weierophinney commented on #146
Fixed with #161.

[2016-07-01 17:51] samsonasik commented on #172
already fixed at https://github.com/zendframework/zendframework/pull/7255 , close-able

[2016-07-02 09:34] albrin opened #180 "Get AbstractPlugin in AbstractPlugin"
**I use plugins like API for my components.**

When I call method of plugin in controller — it works.

[code]

But if I try to call method of plugin in another plugin:

[code]

Error message

[code]

Can I use plugin another plugin, without passing additional objects?

**P.S.: Temporarily, I found the following solution**

[code]

[2016-07-02 11:02] #172 closed, assigned to nobody

[2016-07-02 11:58] samsonasik commented on #180
The better way is you inject the plugin:

[code]

and then, you can use factory for it:

[code]

I think it is `not` an issue ;). close-able ;)

[2016-07-02 12:22] albrin commented on #180
I am developing an engine for online store and other components for integration with multiple services on Zend Framework.

It is planned that the components can be any number. For example, forty components. Each component may have a different number of plugins — API.

Components must be loosely and able to communicate with each other through the API.

Therefore, each time to do such injections wil

[2016-07-02 12:52] weierophinney commented on #180
Plugins are not seeded with the plugin manager; only controllers are, which is why you cannot do method overloading to retrieve them.

You have three options:
- inject your plugins with the plugins on which they depend, as @samsonasik suggested. This is the best option, as it ensures there are no hidden dependencies, encourages and facilitates testing, and allows for easy substitutions via alterna

[2016-07-02 12:52] #180 closed, assigned to nobody

[2016-07-03 20:42] acelaya opened #181 "Fatal error when calling Zend\Mvc\DispatchListener::marshalBadControllerEvent() with a PHP 7 Throwable"
The method `Zend\Mvc\DispatchListener::marshalBadControllerEvent()` has an `\Exception` type hint on its last argument, but it is also called when a `\Throwable` like an `\Error` instance is caught.
That produces this Fatal error.

[code]

[2016-07-03 20:48] michalbundyra commented on #181
Resolved in [Release 3.0.2](https://github.com/zendframework/zend-mvc/releases/tag/release-3.0.2). Please run `composer update` and try again.

[2016-07-03 21:06] acelaya commented on #181
I see. Thanks :)

[2016-07-03 21:06] #181 closed, assigned to nobody

[2016-07-05 13:07] sasezaki opened #182 "[Test] InitializationIntegrationTest must shut up"
currently,  when running `phpunit`

https://travis-ci.org/zendframework/zend-mvc/jobs/141448300#L393

[code]

Should be shut up to avoid confusion.

This `Application\Controller\PathController::dispatch` echo is caused by Application/InitializationIntegrationTest.php

[2016-07-05 13:11] sasezaki commented on #182
Could be stop emit response

[code]

or

[code]

Test case method named as `testDefaultInitializationWorkflow`.
So, I will make PR with output buffer flush approach.

[2016-07-14 01:38] matbech opened #185 "[ZF3] zend-serializer is required"
In Controller\LazyControllerAbstractFacatory.php there is a reference to zend-serializer:
use Zend\Serializer\AdapterPluginManager as SerializerAdapterManager;

Therefore the zend-serializer is required in the composer.json dependencies or at minimum in the 'suggest' section.

Another option would be to remove the SerializerAdapterManager alias:
        SerializerAdapterManager::class => 'Serializ

[2016-07-14 02:19] weierophinney commented on #185
The lazy controller factory is opt-in. At most, we need to add a suggestion to the composer definition. Would you like to create a pull request with this change?

[2016-07-14 02:25] matbech commented on #185
LazyControllerAbstractFacatory uses additional aliases for which further suggestions (zend-console, zend-log, etc) would be required:
use Zend\Console\Adapter\AdapterInterface as ConsoleAdapterInterface;
use Zend\Log\FilterPluginManager as LogFilterManager;

[code]

So I'm not sure whether adding them all to the 'suggest' section is an elegant solution?

[2016-07-16 05:08] RalfEggert opened #186 "Class names for ServiceListenerFactory"
I noticed that most services defined in the `Zend\Mvc\Service\ServiceListenerFactory` still use strings for the services names instead of class names.

https://github.com/zendframework/zend-mvc/blob/develop/src/Service/ServiceListenerFactory.php

It looks a little inconsequent in a factory when all services are requested by class names except the very important `ViewHelperManager` for example. Is

[2016-08-03 09:11] leolicai opened #189 "Is some way to setting every module use custom layout and error template?"
The is a very important problem for me.
The site have some modules, eg: home site, blog, shop. etc.
Every module have themself artist to design the ui.
So, Is a simple way to config the module themself layout setting?
I don't like set the layout in the controller, just want every controller focus the logic.
I'm try edit the module.config.php, at the view_manager section use some key to setting the

[2016-08-03 09:27] froschdesign commented on #189
@leolicai
You can use the "[EdpModuleLayouts](https://github.com/EvanDotPro/EdpModuleLayouts)" module or you write your own listener.

[2016-08-03 10:19] leolicai commented on #189
@froschdesign
I'm use ZF3, You code can't run, the $e->getApplication(); is empty.
and, the config was merged. all controller extends the AbstractController
All module will ben use one layout.
btw, someboy has the question about custom error page.
how to fix it?
Thanks man.

[2016-08-04 13:58] semihs opened #190 "Redirect plugin refresh with query params"
i have tried $this->redirect()->refresh(); in my controller
it is refreshing but excluded query params

sample path: /tr/dashboard/advert/category/1/translate?language_id=1

it is removing language_id

same problem with toRoute method, need to do as following:

[code]

[2016-08-08 05:40] samsonasik opened #191 "can't override existing plugin in zend-mvc v3 ( ^3.0.1 )"
I created a module named [`RedirectHandlerModule`](https://github.com/samsonasik/RedirectHandlerModule) to override existing 'redirect()`plugin. However, the`$this->redirect()`still uses`Zend\Mvc\Controller\Plugin\Redirect`. I think it is an issue as it was work in zend-mvc v2.

[2016-08-08 06:04] samsonasik commented on #191
it seems it because of zend-servicemanager v3 don't have `allow_override` config, only doable with:

[code]

[2016-08-09 04:23] samsonasik opened #192 "[zf3] [controller plugin] can't redirect with same controller without ModuleRouteListener"
I am using zend-mvc v3, for example, I have an `AboutController`:

[code]

With route config:

[code]

When I hit `/about`, it should redirecto to `/about/foo`, but without `ModuleRouteListener` register in `ZendSkeletonApplication/module/Application/src/Module.php::onBootStrap()`, it always redirect to '/', It happen to both `toRoute()` and `toUrl()`

[2016-08-09 04:32] samsonasik commented on #192
oops, it seems because of custom redirect plugin that I apply manually in Module::onBootstrap because of I can't override 'redirect' plugin via 'allow_override' config, related with #191

[2016-08-09 04:32] #192 closed, assigned to nobody

[2016-08-12 07:30] ThaDafinser commented on #103
Since ZF is one of the best customizable framework, you can of course "avoid" this deprecation issue for some time...
But please be aware that **_this workaround MUST be a TEMPORARY solution**_
It will not prevent you from correcting your code at the end to upgrade to v3

Use the `application.config.php` to avoid the log messages from ServiceLocator
https://gist.github.com/ThaDafinser/9cb57e0ca70c

[2016-08-16 10:20] MatthiasKuehneEllerhold opened #194 "AcceptableViewModelSelector returns wrong View Model"
I tried using the AcceptableViewModelSelector with this Accept-Header in my request (Its the standard header for HTML in FF):
`text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8`
## Expectation:

It should return "ViewModel" with the given Accept-Header and it should return a JsonModel with "application/json" in my Accept-Header.
## Reality:
### Testcase 1:

[code]

**Returns**
- Json

[2016-08-16 10:25] MatthiasKuehneEllerhold commented on #194
PS:
I tried it with
- PHP 7.0.9-1~dotdeb+8.1
- zendframework/zend-mvc 3.0.2
- zendframework/zend-view 2.8.1
- zendframework/zend-http 2.5.5

Possibly related to #16 ?

[2016-08-16 12:40] adamlundrigan commented on #16
Is this still an issue?  I tried this test case and it passes:

[code]

[2016-08-16 12:42] adamlundrigan commented on #194
I added this test to the zend-mvc test suite:

[code]

and it does fail because `$result` is a JsonModel, as you suggested it would.  After reviewing the code I think it's a subtle bug in the way AcceptableViewModelSelector builds the accept string used to match against the Accept header.  The default model is not included in the match string when it's constructed ([here](https://github.com/zendfr

[2016-08-16 12:46] MatthiasKuehneEllerhold commented on #194
In reality every browser appends `*/*` at the end of the Accept Header so the default view model is only used for the non-browser requests?
- FF AJAX: `application/json, text/javascript, */*; q=0.01`
- Chrome HTML: `text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8`
- Chrome AJAX: `application/json, text/javascript, */*; q=0.01`

[2016-08-16 12:52] adamlundrigan commented on #194
Essentially, yes.  The default is used in only two cases:
1. An empty list of acceptable views models was given.
2. There are no matches against the Accept header.

However 2 is moot if the Accept header has a `*.*` since it will always match something.

[2016-08-16 13:21] Wilt commented on #16
Thanks for checking this.
I am not sure since I haven't tested it for a long time.
I can see if the issue still applies, will get back on this.

[2016-08-21 01:37] #191 closed, assigned to nobody

[2016-08-21 03:21] gabbydgab opened #196 "[Question] Can we enable piped style middleware router for ZF MVC just like in Expressive?"
I've tried mapping routes to middleware just like in the [docs](https://docs.zendframework.com/zend-mvc/middleware/#mapping-routes-to-middleware) but as of the moment it can only invoke one middleware action.

Is there a way we can integrate the [piped style middleware router](https://docs.zendframework.com/zend-expressive/cookbook/route-specific-pipeline/#what-about-pipeline-middleware-configurat

[2016-08-21 12:44] Ocramius commented on #196
Can probably produce a middleware pipe from the factory responsible of dispatching a certain middleware. Needs some fiddling, but you'd implement a middleware that wraps a set of middlewares, basically.

[2016-08-22 04:08] gabbydgab commented on #196
how sad T_T

still hoping for this to happen soon :)

[2016-09-12 11:57] #194 closed, assigned to nobody

[2016-09-13 00:36] wilariz opened #199 "Fatal error no catch in views"
When I have an exception in a "view" from a ViewHelper I recive a generic message :
"An error occurred during execution; please try again later.
No Exception available" without give me more info about the error.

But when I try same error in "layout" I recive this message "Fatal error: Uncaught Error:"  with additional information about the error (trace-files).

How you know, when not have informa

[2016-09-13 04:45] samsonasik commented on #199
I experienced same issue with view helper; we need more verbose error in view helper. I issued about it long time ago

[2016-09-13 08:05] samsonasik commented on #199
related tweet by @akrabat :

![need more verbose](https://cloud.githubusercontent.com/assets/459648/4800305/862175d4-5e24-11e4-84ac-324a393ca610.png)

[2016-09-13 19:26] anton-kotik opened #201 "Replace private methods with protected"
[github.com/zendframework/zend-mvc/search?q=private](https://github.com/zendframework/zend-mvc/search?l=php&q=private&utf8=%E2%9C%93)

Using private methods makes it difficult to override their classes.

[2016-09-13 19:28] weierophinney commented on #201
We will evaluate these on a case-by-case basis, based on reported need.

Making them private allows us to refactor internals without worrying about impact on end-users; a strong case needs to be made for us to expose any private methods as protected, as doing so creates a maintenance cost for the project.

[2016-09-13 19:28] #201 closed, assigned to nobody

[2016-09-13 19:43] anton-kotik commented on #201
@weierophinney, I tried to override HttpExceptionStrategyFactory to use my custom ExceptionStrategy.

This code doesn't work as expected because `HttpExceptionStrategyFactory::__invoke()` [doesn't use](https://github.com/zendframework/zend-mvc/blob/master/src/Service/HttpExceptionStrategyFactory.php#L27-L29) `$name` argument:

[code]

So I had to override `__invoke()` method too and I can't use [p

[2016-09-17 07:30] drakulitka commented on #189
It would be a good example to Twig template!!

[2016-09-21 09:42] exptom commented on #73
I'm getting this exact same problem when using the flash messenger in a ZF3 mvc project. It seems that after the redirect the session is being repopulated with an array rather than an arrayobject.
I've added an issue against the plugin repo itself.

[2016-09-26 23:21] wesperinteractive opened #202 "What's the purpose of dispatching requests with missing controller or action in the route match?"
I don't really understand the purpose of dispatching requests without a controller or an action in the route match.

I think Zend\Mvc\RouteListener (line 47.) should check the existence of the controller and action parameters too. If any of them are missing, it should trigger an error (MvcEvent::EVENT_DISPATCH_ERROR). The name of the error could be "Application::ERROR_ROUTER_INVALID_MATCH" or some

[2016-09-28 05:46] digitalfu opened #203 "ServiceManager's build method question."
Given the decision to stop encouraging the use of the [Service Locator in controller/arbitrary contexts](https://github.com/zendframework/zend-mvc/issues/137), what are the valid use cases for the `build` method that it provides?

The [docs](https://zendframework.github.io/zend-servicemanager/configuring-the-service-manager/#passing-config-to-a-factorydelegator) talks about context, but I have no

[2016-09-28 13:37] weierophinney commented on #203
@digitalfu `build()` is used for the following:
- To build the initial instance of a service.
- To create new instances of a service marked as _not shared_
- Within plugin managers, which often mark services as unshared, and/or allow passing instantiation options when creating the service; in this latter case, passing options implicitly indicates an unshared service.

The context is only passed wh

[2016-09-28 13:37] #203 closed, assigned to weierophinney

[2016-10-06 18:18] wesperinteractive opened #204 "Do we really need notFoundAction?"
The question is simple: do we really need notFoundAction?

https://github.com/zendframework/zend-mvc/blob/master/src/Controller/AbstractActionController.php#L43

I don't think so...

My problems:
1. It's not triggering a dispatch error, while all other and similar (!) errors do. If we can't locate the controller, we trigger a dispatch error, if we can't locate the action inside that controller, we

[2016-10-08 17:22] wesperinteractive commented on #204
One small remark: removing notFoundAction would allow us to remove Zend\Mvc\View\Http\RouteNotFoundStrategy listener (prepareNotFoundViewModel) from the dispatch event listeners.

Currently we are checking the status code of the response for each and every request (https://github.com/zendframework/zend-mvc/blob/master/src/View/Http/RouteNotFoundStrategy.php#L174), which, in my opinion, is a bad pr

[2016-10-20 15:24] thomasvargiu opened #205 "EventManagerAwareInitializer issue"
The [EventManagerAwareInitializer](https://github.com/zendframework/zend-mvc/blob/e263600c6c8d4cb4d69a3b610dc1bb34860aad16/src/Service/ServiceManagerConfig.php#L83-L106) causes an issue when someone uses the instance event manager before the initializer.

I was upgrading a project from zend-eventmanager v2 to zend-eventmanager v3, and to attach listeners to services' EventManager I use to do it in

[2016-10-23 09:23] sasezaki commented on #182
#183 is merged. so I close this.

[2016-10-23 09:23] #182 closed, assigned to nobody

[2016-10-26 22:43] thomasvargiu commented on #205
Edit:
I think the best way is to inject a composed Event Manager with its Shared Manager in the instance factory when creating a service

[2016-11-04 13:15] benbroadley88 opened #206 "EventManager Initialization"
Hello - brand new to Zend so early apologies if I'm just being silly...

I'm trying to follow the Zend-MVC [intro documentation](https://docs.zendframework.com/zend-mvc/intro/#bootstrapping-an-application) which suggests that to bootstrap an application, the following should be run:
[code]

However, when I tried this I'm getting a Fatal Error as the setSharedManager method doesn't appear to exist.

[2016-11-04 13:36] weierophinney commented on #206
Indeed; we missed that when updating the docs for the new version. Would you be willing to create a pull request with that change?

[2016-11-04 13:36] thomasvargiu commented on #206
The documentation is not updated for zend-mvc and zend-eventmanager 3.0.

Look at the [zend-mvc](https://docs.zendframework.com/zend-mvc/migration/to-v3-0/#application-class) and [zend-eventmanager](https://zendframework.github.io/zend-eventmanager/migration/changed/#eventmanager__construct) migration guides for changes.

[2016-11-04 13:39] benbroadley88 commented on #206
@weierophinney Yeah no problem - I will submit that shortly.

[2016-11-21 10:52] m0rg commented on #73
i commented on https://github.com/zendframework/zend-mvc-plugin-flashmessenger/issues/9 with my theory of why this is happening. Try using SessionArrayStorage with SanSessionToolbar. I am able to reproduce it.

[2016-11-22 11:59] m0rg commented on #73
samsonaik fixed it, and now i can't reproduce it anymore (sansessiontoolbar 1.0.5)

[2016-12-29 21:24] internalsystemerror commented on #171
I have a Ns\SubNs\Controller\IndexController and confirm it is being picked up as Ns\SubNs... There is an undocumented feature, ```"view_manager" => ["controller_map" => ["Ns" => true]]``` which was required for the view templates to be in ns/subns/index as opposed to ns/index...

[2017-01-22 18:25] ghost opened #212 "Another Uncaught TypeError"
PHP Fatal error:  Uncaught TypeError: Argument 4 passed to Zend\\Mvc\\DispatchListener::marshalBadControllerEvent() must be an instance of Exception, instance of ParseError given

[2017-01-23 02:07] Ocramius commented on #212
You are most likely using an old version of `zendframework/zend-mvc`, since the hint was removed, and isn't there in version 3.0.4: https://github.com/zendframework/zend-mvc/blob/3d198677428c0d0839ef30331d35b54dd8a093bb/src/DispatchListener.php#L219

[2017-01-23 02:07] #212 closed, assigned to Ocramius

[2017-01-26 15:44] forethoughtde opened #213 "Unable to resolve service "Zend\Db\Adapter\AdapterInterface" to a factory"
I am following through the GETTING STARTED WITH ZEND FRAMEWORK tutorial document. I come to a point where I get the following error message.

Can anyone explain me what is going on in my code?

[2017-01-26 15:56] froschdesign commented on #213
@forethoughtde
Have you added `zend-db` as module in your "config/modules.config.php"?

[code]

https://docs.zendframework.com/tutorials/getting-started/database-and-models/#using-servicemanager-to-configure-the-table-gateway-and-inject-into-the-albumtable

[2017-01-26 16:05] forethoughtde commented on #213
Spot on. It works now. Thanks"

[2017-01-26 16:05] #213 closed, assigned to nobody

[2017-01-26 17:12] forethoughtde opened #214 "Routing problem"
# Question:
### Resource: From Zend getting started tutorial
I have following actions:
1. index
2. add
3. edit
4. delete
I have set up the routes like below and had problems getting to /album/add. Can anyone here please explain me why I could not get to the /album[/action] routes?

[code]

[2017-01-26 18:23] froschdesign commented on #214
Would you like to create the URLs?
Add this to your view script:
[code]
See also in the tutorial: [Database and models – Listing albums](https://docs.zendframework.com/tutorials/getting-started/database-and-models/#listing-albums)

The second route definition is not needed, because the first route points already to the index action.
Delete the route with name "album" and rename your route "albumOp

[2017-01-26 18:27] froschdesign commented on #214
Btw. If you have problems with the tutorial, please use the [repository of the tutorial](https://github.com/zendframework/tutorials).

[2017-01-26 18:53] forethoughtde commented on #214
I have created URLs but the links are just album. The following line does not create album\edit URI.

`<a href="<?= $this->url('album', ['action' => 'add']) ?>">Add new album</a>
`
Once I delete the albumOperations route and modified the album to the following code: it started working.

[code]
I would like to know why was the former code not working? Is it because album is used in the $this->url()

[2017-01-26 19:09] froschdesign commented on #214
Your old "album" route points always to the "index" action, because you defined the target:

[code]

…and do not allow any parameters with the route type "Literal".

With the original "album" route from the tutorial it is possible to route to more then the "index" action. Please look at the [explanation under the first code example](https://docs.zendframework.com/tutorials/getting-started/routing-

[2017-01-26 19:09] #214 closed, assigned to nobody

[2017-02-07 09:04] andreidiaconescu opened #215 "Zend\Mvc\Router\RoutePluginManager does not exist in Zend Framework"
In the documentation it is written:
"

"

But the class Zend\Mvc\Router\RoutePluginManager does not exist.

Can you please let us know how to use the plugins for routes ?

[2017-02-07 09:16] froschdesign commented on #215
The router was transferred to its own component: [`zend-router`](https://github.com/zendframework/zend-router)

The documentation is outdated on this place. Thanks for reporting!

[2017-02-20 14:28] ikovalyov opened #218 "AbstractRestfulController PUT file upload issue"
if we do file upload during not POST but  PUT or PATCH, query string can't be parsed by parse_str function. As result methods don't receive data.

Here is sample raw content which is causing this issue:

[code]

[2017-02-22 12:37] ikovalyov commented on #218
well.. it appears that system not parsing multipart PUT and PATCH requests. Only POST ones.

[2017-02-22 18:22] weierophinney commented on #218
@ikovalyov That is correct; we purposely limit the capabilities of zend-http to keep it slim, as content parsing such as this is not a typical requirement.

We do have a module in Apigility that will do this for you, however: [zf-content-negotiation](https://github.com/zfcampus/zf-content-negotiation) has a class, [ZF\ContentNegotiation\MultipartContentParser](https://github.com/zfcampus/zf-conten

[2017-02-22 18:22] #218 closed, assigned to nobody

[2017-02-24 10:48] marcosh opened #219 "`notFoundAction` return type hint"
The method `notFoundAction` in `AbstractActionController` has an `@return array` docblock.

But it returns the result of the invocation of the `CreateHttpNotFoundModel`, which returns a `ViewModel` instead

[2017-02-24 10:54] froschdesign commented on #219
Good point. Thanks for reporting.

[2017-02-28 19:59] boesing opened #224 "Incompatibility with zendframework/zend-form v2.8.2 and up"
There are compatibility issues between those two versions.
WIth v2.8.2, `zendframework/zend-form` has introduced`FormElementManagerV2Polyfill` and `FormElementManagerV3Polyfill`.
However, to fit `Zend\ServiceManager\InitializerInterface`, they changed `FormElementManager::injectFactory` to exactly fit `zendframework/zend-servicemanager` versions.

Therefore, the way how to use `injectFactory` from

[2017-03-02 17:17] #219 closed, assigned to nobody

[2017-03-10 07:09] Xerkus opened #226 "Malformed request causes uncaught exception instead of 400 Bad Request"
https://github.com/zendframework/zend-http/issues/116 revealed that malformed HTTP request, in this case with header with empty value, leads to http request factory throwing exception.
Since it is happening early on during application bootstrap, it leads in turn to uncaught exception fatal error instead of proper `400 Bad Request` response.

[2017-03-15 09:12] seyfer opened #227 "Is it bug or feature? The problem with redirect plugin and session."
Hello

Let me first tell a story how I reached to this issue. I have spent more than 6 hours in sum with a face like this one '**O_O**' trying to add a very simple feature, which every modern framework have, in my app based on zf3. It's a flash messenger.

I just wanted to display some fancy messages after actions connected with form submission, like auth or change password.

1) I have started wit

[2017-03-15 09:34] MatthiasKuehneEllerhold commented on #227
Just asking the obvious: Is there anything you're doing after your call to $this->redirect() that may be executed and may clear the session?

[2017-03-15 09:37] seyfer commented on #227
@MatthiasKuehneEllerhold of course not. And I have written it above.

[2017-04-27 15:14] #224 closed, assigned to nobody

[2017-04-29 11:47] Ppito opened #238 "Problem on DispatchListener with a controller abstract factory"
Hello,

I develop a module of error handler to integrate whoops in Zend Framework 3 ([Ppito/zf3-whoops](https://github.com/Ppito/zf3-whoops)), and because of a bug issue was open to me, we found a limitation on distach with a controller abstract factory.

The problem is, when a syntax error is generated with abstract factory configuration, the application crashes when it's tried to create the cont

[2017-04-29 11:53] Ocramius commented on #238
This is up to your abstract factory to handle: `has` operations should be silent. If your abstract factory performs unsafe operations such as reflection, code discovery, etc, then `AbstractFactory#canCreate` needs to be designed in a safe way.

Closing as `invalid`, since `ContainerInterface#has()` does indeed not expect exceptions to be thrown, and the code using `has` shouldn't either.

[2017-04-29 11:53] #238 closed, assigned to Ocramius

[2017-04-29 12:49] bitwombat commented on #238
If there's a syntax error in a controller, the `class_exists` call in  `\Zend\Mvc\Controller\LazyControllerAbstractFactory::canCreate` throws an exception.

[2017-04-29 12:52] Ocramius commented on #238
Yes, and that is up to the maintainer of that abstract factory to fix that,
if relevant.

On 29 Apr 2017 14:50, "Bit Wombat" <notifications@github.com> wrote:

[2017-04-29 13:46] Ppito commented on #238
yes, but it's not an exception we need to catch, it's a php error. And it's this php error that will be nice to be catch with `Throwable` (only in php 7, I know).

[2017-04-29 14:22] Ocramius commented on #238
No, that mentality will just lead you to having every layer of everything
being wrapped in a try-catch. Fix your factory to be compliant with the
silent signature.

On 29 Apr 2017 3:46 p.m., "Tonnelier Mickael" <notifications@github.com>
wrote:

[2017-04-29 14:36] Ppito commented on #238
yes, yes, I know that. Ok thanks anyway.

[2017-04-29 23:17] bitwombat commented on #238
@Ocramius you say "your factory", but this factory is part of \Zend\Mvc.  Do I just need to make a separate, more specific issue?

[2017-04-30 00:07] Ocramius commented on #238
Yes, or a PR

On 30 Apr 2017 01:17, "Bit Wombat" <notifications@github.com> wrote:

[2017-05-01 20:23] #196 closed, assigned to nobody

[2017-05-08 14:56] datashuttle opened #239 "AbstractConsoleController"
No longer at this namespace

[2017-05-08 15:00] froschdesign commented on #239
Is this a question, bug report or something else?!

Maybe I am wrong, but see: https://github.com/zendframework/zend-mvc-console

[2017-05-08 15:17] datashuttle commented on #239
It's a statement. The docs make reference to the wrong namespace for the AbstractConsoleController.

[2017-05-08 15:20] froschdesign commented on #239
That's the missing statement:

Thanks for reporting!

[2017-05-08 15:21] datashuttle commented on #239
Yes, sorry for not clarifying.

[2017-05-12 09:36] samsonasik commented on #239
@datashuttle I've created PR #240 for it.

[2017-05-12 11:23] SevenbitsIt opened #241 "Zend\Mvc\Controller\AbstractController returning Zend\Http\Request but Zend\Stdlib\RequestInterface in comments"
use Zend\Http\Request as HttpRequest;
use Zend\Stdlib\RequestInterface as Request;

This causes the methode getRequest()  state that it returns a   RequestInterface but it really returns  a
HttpRequest. This only effects Documentation but fix is simple to only change comments to full path:

`
/**
     * Get request object
     *
     * @return \Zend\Http\Request
     */
    public function getRequ

[2017-05-23 00:02] ghost commented on #170
Is this issue closed as in "won't fix"? I agree with @gauthier - it's very unintuitive behaviour - I've just spent 90 minutes trying to figure out why my log statistics were incorrect. It also appears that testing `$event->getTarget()` for an instance of `Application` returns true twice. Is there a way to only process the event the first time?

[2017-05-23 14:33] Koopzington opened #242 "zend-console required in 2.7.12"
I'm still running projects on zend-mvc 2.7.* and tried to remove zend-console from one of them.
After doing so i was presented an error telling me that Zend\Console\Console was not found.
[The RequestFactory apparenty needs zend-console](https://github.com/zendframework/zend-mvc/blob/release-2.7.12/src/Service/RequestFactory.php#L48) while in 3.0 everything console related got removed.
[Since zend

[2017-06-09 20:57] nathanjosiah opened #244 "Router plugin constructor backwards-incompatible due to AbstractPluginFactory"
I upgraded from ZF 2.5.1 to ZF 2.5.3. I have a custom router plugin that extends the Http\Segment plugin and I have attached a delegator to it in the ServiceManager. My extended plugin doesn't override the constructor but I'm seeing that when the plugin is created in the ServiceManager via the delegator callback, all the arguments are being passed as an array into the first param.

I don't underst

[2017-06-09 22:17] Ocramius commented on #244
@nathanjosiah I assume there's no factory for `MyPlugin`?

[2017-06-09 22:22] nathanjosiah commented on #244
@Ocramius Correct, the listener is adding it as an invokable class `$route_plugin_manager->setInvokableClass('MyPlugin','MyNamespace\Router\Plugin\MyPlugin');`

[2017-06-11 05:49] Ocramius commented on #244
Could you try with an invokable factory? Just tossing ideas around, as this
would need to be reproduced in a test to be debugged

On 10 Jun 2017 01:22, "Nathan Smith" <notifications@github.com> wrote:

[2017-06-12 15:15] nathanjosiah commented on #244
I will work on creating an isolated test case repo.

[2017-06-12 21:13] nathanjosiah commented on #244
@Ocramius Either using an invokable factory or just by setting an alias to the FQCN of the plugin fixes the issue.

I haven't read through the new invokable factory-related code but I was unaware that there were other changes made. I have a test repo but I don't want to waste your/my time if you already know what the issue is. I can try and debug further to find a root cause if you'd like.

[2017-06-12 23:54] Ocramius commented on #244
I actually don't, but invokables have been deprecated in favor of invokable factories, so maybe we broke something in the compatibility layer that translates invokable keys into factory keys.

[2017-06-13 13:48] samsonasik commented on #242
I've created PR #245 to add zend-console to require for 2.7

[2017-06-13 15:47] nathanjosiah commented on #244
@Ocramius I've isolated the issue to a single file outside of an MVC app:

[code]

After debugging, the problem with the Invokable is the [AbstractPluginManager:254](https://github.com/zendframework/zend-servicemanager/blob/release-2.7.8/src/AbstractPluginManager.php#L254) is passing the creationOptions as a constructor argument.

The InvokableFactory actually doesn't work because it's doing the [

[2017-06-13 16:02] nathanjosiah commented on #244
@Ocramius Apologies if you read my email already from my last comment, I updated it to say the InvokableFactory doesn't work because it does the same thing as the AbstractPluginManager.

[2017-06-13 20:29] nathanjosiah commented on #244
@Ocramius I've been thinking about this and based on the existence of the RouteInvokableFactory, I think the intended behavior and the migration path is to use custom invokable factories to handle plugin creations. Is this a correct assumption?

[2017-06-14 17:03] nathanjosiah opened #246 "[ZF3] Forward plugin doesn't detach problem listeners anymore."
Looks like there was a regressions as part of a [v2 compatibility removable commit](https://github.com/zendframework/zend-mvc/commit/64c766d40c604e8a51523c1bc638453cd21acc5b#diff-a4e7671f65fba054e5c02177656ec841L212). The detachProblemListeners code builds the list of listeners to remove but doesn't actually remove them. For me, this manifests as my resulting ViewModel being double-rendered due to

[2017-06-22 08:41] razonklnbd opened #249 "Restful delete request with empty content show JSON parse error"
When I try to make a delete request without any content but with ID intended to delete ZF2 (v 2.4) try to parse body content with JSON parser which is empty and as a result exception arise.

I think content body reading NOT required until its intended to delete multiple record.

[2017-06-22 08:46] razonklnbd commented on #249
I fix the  issue by altering a line at \Zend\Mvc\Controller\AbstractRestfulController

onDispatch method's "case 'delete':" block's following line -
$data = $this->processBodyContent($request);
should place after "if ($id !== false) { .... }" block

Cause $data has NO use before that block. And processBodyContent method arise that exception.

[2017-06-22 08:48] razonklnbd commented on #249
sorry, i just noticed that issue fixed at current repository.

[2017-06-22 08:48] #249 closed, assigned to nobody

[2017-06-23 07:03] Ocramius commented on #244
I really don't know/don't know how to help further here.

The route plugins were quite a mess in the past, due to [this horrible interfaced static constructor](https://github.com/zendframework/zend-router/blob/f75dee88dde6b2cebc123a225be0c2b17015ffdf/src/RouteInterface.php#L24-L30) (tip: don't interface constructors for non-data objects!).

I don't know how the code was migrated, but I assume that

[2017-06-23 18:12] #244 closed, assigned to nobody

[2017-06-27 20:58] nathanjosiah commented on #246
@froschdesign What do I need to do to get this moving forward? I think this is the last issue preventing my team from upgrading to ZF3. My PR includes tests for both the attachment and detachment of the listeners.

[2017-07-20 06:11] froschdesign commented on #241
Sorry for the late response.

Nothing wrong, because:

* `Zend\Http\Request` implements the interface `Zend\Stdlib\RequestInterface`
* the `AbstractController` handles also non-http requests, like CLI

[2017-07-20 06:11] #241 closed, assigned to nobody

[2017-09-05 06:31] bhartimukesh01 commented on #180
Hi samsonasik,

Please let us know where (which file)  we inject the below code for calling plugin into another plugin as i am new to zend 3.

'AlbrinPersonalCart' => function(\Zend\Mvc\PluginManager $manager) {
         $plugin  = new AlbrinPersonalCart($manager->get('AlbrinPersonalSaleUser'));
         return $plugin;
},

Thanks

[2017-10-04 09:47] chaos0815 commented on #3
Is there a reason why AbstractRestfulController returns an array in the pre-implemented methods instead of an JsonModel object?

[2017-10-08 23:22] bitwombat opened #255 "LazyControllerAbstractFactory doesn't look in FormManager"
The extremely convenient LazyControllerAbstractFactory only checks ServiceManager when making objects for the controller's constructor.

This means that I have to move any forms without a factory from the 'form_elements' config array to 'service_manager'... and odd delineation.

[2017-10-27 04:24] yurivecchi opened #256 "MiddlewareListener namespace update for new version of Interop\Http\MiddlewareInterface"
Hi!

As http-interop/http=middleware updated their code to comply with PSR-15 changes, MiddlewareListener doesn't got updated to follow the new namespace, only necessary change is the import from:

use Interop\Http\ServerMiddleware\MiddlewareInterface;

to:

use Interop\Http\Server\MiddlewareInterface;

and all keeps working.

I can do the PR or you will wait for the PSR to be approved?

[2017-10-30 16:33] edspiner opened #257 "If $this->jsonDecodeType is true the "json_decode" function returns associated array instead of object as assumed"
https://github.com/zendframework/zend-mvc/blob/4c4a3a95ff3a2df00c0d994709d258f91c8eb68c/src/Controller/AbstractRestfulController.php#L624

The proper code should be:
`return json_decode($string, (bool) !$this->jsonDecodeType);`

[2017-10-30 16:35] edspiner commented on #257
nvm wrong assumption

[2017-10-30 16:35] #257 closed, assigned to nobody

[2017-11-03 14:56] Zebercet commented on #189
@leolicai it's onBootstrap event and $e is MvcEvent. `$e->getApplication() `can not be null at there.

[2017-11-17 10:10] #239 closed, assigned to nobody

[2017-11-17 10:32] #215 closed, assigned to nobody

[2017-11-17 10:45] Xerkus commented on #190
Neither controller plugins or url view helper reuse query parameters, you need to pass them explicitly:
`$this->redirect()->toRoute(null, [], ['query' => $request->getQuery()->toArray()], true);`

[2017-11-17 10:45] #190 closed, assigned to nobody

[2017-11-24 06:12] #246 closed, assigned to nobody

[2017-11-24 07:19] michalbundyra opened #264 "Change link in repository description"
Please change link in the repository description:
currently we have: https://github.com/zendframework/zf2
but IMHO we should have there: https://docs.zendframework.com/zend-mvc/

It would be nice also add some tags to the repo. Maybe the same as we have in composer.json?

[2017-11-24 08:03] froschdesign commented on #264
We should remove the link from the repository description.

[2017-11-24 10:33] Xerkus commented on #264
@froschdesign offtopic: can't find you in slack. Are you registered there?

[2017-11-24 11:03] michalbundyra commented on #264
@froschdesign

I disagree, in other repositories we have it set (maybe I wasn't clear, it's not in description but in separate field "website") - and also "sync-repos" script in maintainers repository updates website to be link to the docs

https://github.com/zendframework/maintainers/blob/332fb4386235fe1de8aec71aa014ccbdd32a412b/src/SyncRepos.php#L53

[2017-11-24 15:21] froschdesign commented on #264
@webimpress

You are right, there are two fields – description and website.

[2017-11-28 12:30] Zebercet opened #265 "ServiceManager section in documentation is need to update"
Almost every link on [this page](http://zendframework.github.io/zend-mvc/services/#servicemanager) is broken. They are goes to 2.4 documentation. Here some sample:

https://framework.zend.com/manual/2.4/en/zend.form.elements.intro.html
https://framework.zend.com/manual/2.4/en/zend.paginator.usage.paginating.adapters.html
https://framework.zend.com/manual/2.4/en/zend.validator.set.html

[2017-11-28 15:21] froschdesign commented on #265
The wrong links are:

* http://framework.zend.com/manual/current/en/zend.form.elements.intro.html
* http://framework.zend.com/manual/current/en/zend.paginator.usage.paginating.adapters.html
* http://framework.zend.com/manual/current/en/zend.validator.set.html
* http://framework.zend.com/manual/current/en/zend.db.adapter.html
* http://framework.zend.com/manual/current/en/zend.form.quick-start.facto

[2017-11-28 21:52] Xerkus commented on #265
![](https://github.trello.services/images/mini-trello-icon.png) [Use as many boards as you want!](https://trello.com/c/jPwnrgEk/13-use-as-many-boards-as-you-want)

[2017-12-01 14:40] snapshotpl opened #266 "Incompatible get method in PHP 7.2"
I use zendframework/zend-servicemanager 2.7.8 and  zendframework/zend-mvc 2.7.10. After upgrade to php 7.2 I receive an fatal error:
[code]
In mvc (`PluginManager`) method definition looks like:
[code]
In servicemanager (`AbstractPluginManager`):
[code]

[2017-12-02 13:28] ciaranmcnulty commented on #266
Odd, it should just be a warning https://3v4l.org/4sdoZ

[2017-12-02 13:34] michalbundyra commented on #266
@ciaranmcnulty
It's a bit more complicated unfortunately:
https://3v4l.org/Z7q5P

[code]

And please notice that `zend-mvc` support `zend-servicemanager ^2.7.5 || ^3.0.3`.
Probably there is a solution, but it will be quite complicated, and I'm not sure if version 2 of ZF components are going to get full PHP 7.2 support.

[2017-12-02 13:40] snapshotpl commented on #266
Yes, but only in v2. v3 support zend-servicemanager ^3.3.

[2017-12-02 13:40] michalbundyra commented on #266
Basically to solve the issue we have to do the same what I did here:
https://github.com/zendframework/zend-cache/pull/141/commits/d19e3ac77f2e6f0124b4d72bc51afb903cdaffef

I can't do it now, I can work on it tomorrow.

[2017-12-02 13:41] michalbundyra commented on #266
@snapshotpl

And as I understand you reporting issue in mvc v2, correct? I think we don't have the issue in mvc v3.

[2017-12-02 13:51] snapshotpl commented on #266
Yes. In v3 looks fine

[2017-12-03 09:50] michalbundyra commented on #266
Ok, so I'm not going to work on it, because I'm not sure if this fix is going to be applied in v2 at all.
I need to get confirmation that we are actually going to support PHP 7.2 in v2 components.
I had a look, and I see more issues:

1. PHPUnit 4.8.36 (latest version from 4.x channel) is not compatible with PHP 7.2 so we got deprecation on running:

2. On running tests I got another failure:

So

[2017-12-03 10:14] BigMichi1 opened #267 "provide interfaces for onDispatch() and onBootstrap()"
is it possible to include one or more interfaces for
[code]
and
[code]
This would make it clearer why these methods exists in an applications Module.php and so there is a possibility to include some default documentation

[2017-12-03 10:29] froschdesign commented on #267
See at the Module Manager: https://docs.zendframework.com/zend-modulemanager/module-manager/#onbootstraplistener

[2017-12-04 15:56] weierophinney commented on #266
I was having trouble following, because the error message that @snapshotpl provided showed a nullable type (`?array`), and, of course, neither the zend-mvc nor the zend-servicemanager versions used have nullable types present.

But what it comes down to is that `AbstractPluginManager::get()` defines the `$options` property both without a typehint as well as with a default value of an empty array,

[2017-12-04 16:00] weierophinney commented on #266
Interestingly, I cannot verify the tests, because zend-mvc 2.7.* pins to the PHPUnit 4.8 releases, which do not run under PHP 7.2, as @webimpress already pointed out. (I didn't get much sleep last night, so missed that comment earlier when reviewing.)

As such, I think we need to mark "won't fix" here, particularly as the signature already works with the zend-servicemanager v3 `AbstractPluginManag

[2017-12-04 16:00] #266 closed, assigned to nobody

[2017-12-07 13:34] FabianRahm commented on #266
Hi Matthew,

"In this particular case, I think we should update the zend-mvc 2.X version, as it's a quick and easy fix, and 2.7 is essentially an LTS release for aiding in v2 -> v3 migrations."

What is the scope of the LTS then? I am running against the same issue on early 7.2 tests. I would love to see a fix since we're still not on v3, at all.

Regards

[2017-12-07 14:54] weierophinney commented on #266
Critical bugfixes and security fixes only.

We never tested zend-mvc v2 versions against PHP 7.2 _because it did not exist at the time of the last stable minor release_.

Adding support for PHP 7.2 constitutes a new feature, and that falls outside the scope of the LTS. While we indicate a `^7.0` constraint, that was done on the assumption that PHP would not be releasing backwards incompatible chan

[2017-12-18 14:00] BrunoSpy commented on #266
IMHO that's definitively a bug and need to be fixed.
* your composer.json states ^7.0
* there are still some modules that are not v3 compatible
* https://framework.zend.com/long-term-support indicates an end of support in march 2018

[2017-12-18 14:02] FabianRahm commented on #266
@BrunoSpy I think @weierophinney released 2.7.13 which fixes this issue.

https://github.com/zendframework/zend-mvc/releases/tag/release-2.7.13

Many thanks!

[2017-12-18 14:30] #265 closed, assigned to Xerkus

[2017-12-20 08:05] Zebercet opened #269 "Parent route passes it's action option to children"
I don't know if it's an issue or feature but here how is it happens.

[code]

As you can see i fotgot to add "may_terminate" to "api" route so "ApiHelloAction" won't answer but "BooksRestfullController" -which's extends from AbstractRestfullController"- also won't work as RestfullController.  "onDispatch" method [here](https://github.com/zendframework/zend-mvc/blob/e67b7fd4b3c64e45613b679f8cbbd3fa

[2017-12-27 08:56] Xerkus commented on #269
Parent route parameters are combined with those of child routes.

Please direct your question to our support channels:
- For real-time questions, use our [Slack](https://zendframework-slack.herokuapp.com)
- For detailed questions (e.g., those requiring examples) use our [forums](https://discourse.zendframework.com/c/questions/components)

[2017-12-27 08:56] #269 closed, assigned to nobody

[2017-12-27 10:44] Zebercet commented on #269
Yes, this can be the working principle of router but it broke's AbstractRestfulController. If you map a controller's action, you have to map child controller's action too..

[2018-01-06 03:22] Xerkus commented on #206
Fixed in #207

[2018-01-06 03:22] #206 closed, assigned to nobody

[2018-01-06 03:38] Xerkus commented on #205
You are right, initializer is checking presence of shared event manager to detect if it was set in factory.

I am going to close this as won't fix. In next major version EventManager initializer will be removed.

[2018-01-06 03:38] #205 closed, assigned to nobody

[2018-01-06 03:46] #175 closed, assigned to nobody

[2018-01-06 03:56] Xerkus commented on #170
As stated in the comments, those are two different events triggered with two different EventManager instances with different sets of event identifiers.
When attaching event listeners to SharedEventManager correct identifiers should be used:
- `$sharedEventManager->attach(\Zend\Mvc\Application::class, $listener);` for main dispatch event
- `$sharedEventManager->attach(\Zend\Stdlib\DispatchableInter

[2018-01-06 03:56] #170 closed, assigned to nobody

[2018-01-06 04:16] #179 closed, assigned to nobody

[2018-01-06 12:48] alerque commented on #175
Inapplicable? Inapplicable to what? Are you saying this has been fixed and works or suggesting that Unicode cooperation isn't a desired end goal?

[2018-01-06 12:56] Xerkus commented on #175
Wrong repo, does not apply here.

I am currently investigating it in zend-router.

[2018-02-14 04:23] leogitpro opened #274 "The mvc event listener invalid for namespace if it's multi segment namespaces"
There is a question for me.
On a module, Like the path: module/Application, module/Admin, etc...
Most of time. the module namespace is use: Application\\, Admin\\, and now I want make a module is common module for other project.  So I rename the namespace to: Brand\\Admin\\ replace the old Admin\\ like this.
And then. the question is happened. I tracking all the script flow. The event manager just

[2018-02-14 04:32] leogitpro commented on #274
I debug the EventManager->triggerListeners() method.
The class identifiers attribute include the followed ids.

Array (
  [0] => Zend\Mvc\Controller\AbstractController
  [1] => Application\Controller\IndexController
  [2] => Application **// Notice there, if visit admin module. There will been: Brand, not expected: Brand\Admin**
  [3] => Zend\Mvc\InjectApplicationEventInterface
  [4] => Zend\Event

[2018-03-23 09:51] mishbah opened #275 "http-interop/http-middleware abandoned"
If you check this site https://github.com/http-interop/http-middleware
You'll see message

**Note: This repository is deprecated and no longer updated. Please refer to [http-interop/http-server-handler](https://github.com/http-interop/http-server-handler) and [http-interop/http-server-middleware](https://github.com/http-interop/http-server-middleware) instead.**

[2018-03-23 10:06] froschdesign commented on #275
See: #259

[2018-03-28 12:26] Zebercet opened #276 "zend-mvc requires i18n with forms"
I don't know if it's mvc's or form's error but here's situation;

composer:
[code]

versions in composer.lock file

Form is simple;

[code]
and view file;

[code]

and log file;

`Class 'Zend\\I18n\\View\\Helper\\AbstractTranslatorHelper' not found in /etc/source-code/vendor/zendframework/zend-form/src/View/Helper/AbstractHelper.php on line 21`

[2018-03-28 12:30] froschdesign commented on #276
Replace `zendframework/zend-form` with `zendframework/zend-mvc-form` in your Composer file and all is fine.

[2018-03-28 12:42] #276 closed, assigned to nobody

[2018-04-19 19:20] samsonasik commented on #73
@michaelwolfram93 can be closed now

[2018-04-20 03:58] #73 closed, assigned to weierophinney

[2018-05-03 13:15] weierophinney commented on #242
Fixed with #245.

[2018-05-03 13:15] #242 closed, assigned to nobody

[2018-05-21 18:28] samsonasik opened #283 "support zend-stratigility 3?"
originally i submitted issue at `ZendSkeletonApplication` repo https://github.com/zendframework/ZendSkeletonApplication/issues/433 , which seems should be here

When I tried to use middleware in zend-mvc 3, it require to install `zend-stratigility` as it seems it no longer required, so I add the `zend-stratigility` to require with command:

[code]

and it installed the `zend-stratigility` 3. After

[2018-06-20 15:16] taras-chornovol opened #287 "del"
Here we have fromRoute in IF condition, but into update method there is trying to get this param from query, not from route

[code]

[2018-06-20 15:30] #287 closed, assigned to nobody

[2018-07-05 15:30] FabianRahm opened #289 "Exception not visible when render.error events happen"
### Code to reproduce the issue

In a view template, eg. index.phtml we might have some wrong code during development like the following function call where $unsetVar has never been declared or passed to the view template.

`<?php echo $unsetVar->method(); ?>`

PHP Environment:
[code]

Module: zend-mvc v. 3.1.1

### Expected results

I would like to see the exception on screen with both the actual

[2018-07-07 23:07] samsonasik commented on #289
I created [`ErrorHeroModule`](https://github.com/samsonasik/ErrorHeroModule) for that which you can enable `display_errors` in configuration and it will shows like this:

![screen shot 2018-07-08 at 6 04 57 am](https://user-images.githubusercontent.com/459648/42415333-00b2e80a-8275-11e8-8707-91d235d763e6.png)

[2018-08-19 07:25] #41 closed, assigned to nobody

[2018-08-19 21:08] Xerkus commented on #289
Non fatal errors generate exceptions in PHP7 and intercepted by framework.
Please check that `$config['view_manager']['display_exceptions']` is set to `true` if you use ZendSkeletonApplication.
If value is true, please check that your application error templates include check for `Throwable` or `Error`:
https://github.com/zendframework/ZendSkeletonApplication/blob/7581703d5979c090b74905c5c7f5e7f2c

[2018-08-20 07:18] FabianRahm commented on #289
Thank you @Xerkus - I had the first config flag already set to true but didn't get the error template update where the second OR '\Error' check was added.

Works like a charm.

[2018-08-20 07:18] #289 closed, assigned to nobody

[2018-09-04 09:37] froschdesign commented on #283
Related to #259

[2018-09-04 09:41] froschdesign commented on #256
`Interop\Http\Server\MiddlewareInterface` is deprecated in favor of [PSR-15](https://github.com/php-fig/http-server-middleware).

See also: #259 – open for comments!

[2018-09-04 09:41] #256 closed, assigned to nobody

[2018-09-04 09:42] froschdesign commented on #275
Duplicate of #256

[2018-09-04 09:42] #275 closed, assigned to nobody

[2018-09-04 09:46] froschdesign commented on #186
See at #259

https://github.com/zendframework/zend-mvc/blob/bf93aa5e64e688a4f2bc7a50679c152bac289cae/src/ConfigProvider.php#L119

[2018-09-24 19:58] ghost commented on #266
só botar & na frente da função offsetGet linha 425 do AbstractContainer.php

[2018-09-24 21:17] weierophinney commented on #266
@marcosrdesouza English only in the issue tracker, please.

Are you seeing more problems? If so, please provide full details: exception/error messages, what you did that resulted in the problem, etc.

Additionally, since this issue has been marked fixed, and the original reporter has indicated it was resolved to their satisfaction, when you _do_ provide the above information, do so in a new issue.

[2019-01-02 08:00] mushroom11s opened #299 "Uncaught exception 'Zend_Log_Exception' with message file.log cannot be opened with mode “a”"
I don't know how to use php, I am developing java.I thought about this error when I deployed a PHP project.

`Fatal error: Uncaught exception 'Zend_Log_Exception' with message '"/home/hystream-apps-test/TOMS/application/../data/log/Ec_Error.log" cannot be opened with mode "a"' in /home/hystream-apps-test/TOMS/libs/Zend/Log/Writer/Stream.php:81 Stack trace: #0 /home/hystream-apps-test/TOMS/libs/Ec/

[2019-01-02 08:00] Ocramius commented on #299
Duplicate of https://github.com/zendframework/zend-log/issues/95

[2019-01-02 08:00] #299 closed, assigned to nobody

[2019-01-16 03:14] Yunfeng1u opened #300 "Argument 1 passed to Zend\Mvc\Service\ModuleManagerFactory::__invoke must be integer, object given"
It's fine on my pc, but I got a http 500 error when I deployed on my centOS 7.

[code]

I traced the source code and it seems fine.
[code]
None of these arguments require an integer type.

So I wonder if my env goes wrong. Here is part of my `composer.json` file:
[code]

[2019-01-16 15:05] weierophinney commented on #300
This looks like you may have a configuration error. Can you dump the "service_manager" values from any configuration files you have, please? Look for them in:

- `config/autoload/*.php`
- `modules/*/config/*.config.php`

I suspect that one of these is malformed.

Additionally, I recommend you run `composer update`, as the most recent version of zend-mvc is 3.1.1.

[2019-01-17 03:09] Yunfeng1u commented on #300
@weierophinney
I have searched all this config files and found nothing about `service_manager ` value. Then I run `composer create-project zendframework/skeleton-application
` to create a sample application, same error occurs. I guess something like php-extensions is missing.

[2019-01-21 10:00] Yunfeng1u commented on #300
I made a same request in unit-test by running `./vendor/bin/phpunit`, it went well!
Then I change the file `/vendor/zendframework/zend-mvc/src/Service/ModuleManagerFactory.php`:
[code]
And it print `int(123)`, so it did call `ModuleManagerFactory::__invoke()`

Two way:
* Different between unit-test and index.php
* Different between command line and http request

[2019-01-22 04:45] Yunfeng1u commented on #300
Found that there is 2 php on my server. One is installed with php-fpm, called `php56`, another comes with system.

Run `php ./vendor/bin/phpunit ...`, ok.
Run `php56 ./vendor/bin/phpunit ...`, the same error occurs.

So I will try to compare two of these php.

[2019-01-22 07:51] Yunfeng1u commented on #300
Finally, it's the php strict mode cause the "error", disable the php-strict extension.
My `40-strict.ini` file:
[code]

[2019-01-22 07:51] #300 closed, assigned to nobody

[2019-01-22 16:11] weierophinney commented on #300
@Yunfeng1u I've never even _heard_ of that extension; do you have any details on where it comes from?

(I know `declare(strict_mode=1)` exists, and we use it in our libraries that have a minimum PHP version of 7 or greater; however, that directive is per-file, and would not affect this. I've also heard of [autostrict](https://github.com/krakjoe/autostrict), which essentially auto-sets that directi

[2019-01-23 03:30] Yunfeng1u commented on #300
@weierophinney
I don't know how it came from either. But you can run `yum install php-strict` to install it. There are my installed extensions:
[code]
However, it seems like a Zend Extension instead of PHP Extension.  [Click for more information](https://centos.pkgs.org/7/remi-x86_64/php56-php-pecl-strict-0.4.1-1.el7.remi.x86_64.rpm.html).

[code]
It was under the `[Zend Modules]` before I disable

[2019-01-23 14:55] weierophinney commented on #300
Found it: https://pecl.php.net/package/strict

I'm surprised it even runs on PHP 7, to be honest. It was essentially a way to add strict mode to PHP 5 versions, and there's no need for it in PHP 7; based on what it was reporting, it looks like the extension does not perfectly mimic what PHP 7 does, either.

Considering its age (last commit was 5 years ago), and release status (beta), I'd recommend

[2019-02-17 02:49] Xerkus commented on #166
This is messy implementation detail where plugin switches context to forwarded controller but it does not switch it back unless you access it via `$this->plugin('params')` again or via `$this->params()`;

From abstract controller:
[code]

Unfortunately it is a won't fix.

[2019-02-17 02:49] #166 closed, assigned to nobody

[2019-02-17 03:30] Xerkus opened #308 "Split middleware support into satellite package and deprecate MiddlewareListener"
Number of issues arose from version incompatibilities due to lack of version constraints on zend-stratigility.

A way forward is to deprecate Middleware listener and introduce satellite package defining dependencies both on zend-mvc and zend-stratigility.

zendframework/zend-mvc-middleware#1

[2019-02-17 03:31] Xerkus commented on #283
Should be resolved as part of #308

[2019-02-17 03:49] Xerkus commented on #274
#282 Should fix this

[2019-02-17 03:55] Xerkus commented on #267
Interfaces are provided by Module Manager, which provides those features in modules.

[2019-02-17 03:55] #267 closed, assigned to nobody

[2019-02-17 03:57] Xerkus commented on #264
@weierophinney can you update the repo description please?

[2019-02-17 04:07] Xerkus commented on #202
Sorry for the late reply.

Reason is separation of concerns.
Route listener is not aware of `controller` or `action` key usage. Its responsibility is to match a request to one of defined routes and extract matched parameters.
Dispatch listener is not aware of `action` key, it is something provided by action controllers.
As an example, Middleware listener does not use `controller` key at all and lo

[2019-02-17 04:07] #202 closed, assigned to nobody

[2019-02-17 04:12] #169 closed, assigned to nobody

[2019-02-17 08:18] #185 closed, assigned to nobody

[2019-03-23 13:24] voltan opened #311 "While attempting to create httproutenotfoundstrategy"
Hello

We have custom system based on zf2, when I update zend-mvc to version 2.7.15 , I have this error :
[code]

we have custom config fro load all (( Default mvc-related service configuration )), I do some changes on my config file and all new options like MiddlewareListener and ..

But we have problem and error on loading `HttpRouteNotFoundStrategy` and `HttpExceptionStrategy` and `HttpDefaultR

[2019-06-28 03:04] christaggart commented on #308
In the absence of this being split out yet, are the correct versions for these dependencies documented
for `zend-mvc 3.1` + `zend-stratigility`?

[2019-06-28 06:56] rieschl commented on #308
@christaggart we have the following constraints in our project:
[code]
that currently installs `zend-mvc: 3.1.1` and `zend-stratigility: 2.1.2`

Afaik, `zend-stratigility` `2.2` and `3.x` don't work with the current `zend-mvc`.

[2019-06-28 07:02] rieschl commented on #308
BTW: I just saw that the `composer.json` of the current master [also suggests that](https://github.com/zendframework/zend-mvc/blob/c3edbac00aacf332c5d4004f69e3c07dfb43da81/composer.json#L49).

[2019-07-13 23:04] jroedel opened #313 "Ability to specify response code on controller plugin redirect"
- [X ] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [X ] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](

[2019-07-15 21:02] froschdesign commented on #313
There is an open todo in the class of the redirect plugin:

https://github.com/zendframework/zend-mvc/blob/9f092ff24945f208047d99dff81f67de8862b5f4/src/Controller/Plugin/Redirect.php#L16

In the meantime you can use this workaround in any controller action:

[code]

[2019-08-07 12:58] devath0 commented on #308
Hi guys some status? now im using zend events for middleware render next step, thats very ugly

[2019-08-08 08:39] alichry opened #314 "AbstractRestfulController's onDispatch - set action/method parameter prior dispatch"
## AbstractRestfulController: Set action/method parameter prior dispatch
 - [x] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for S

[2019-09-16 12:16] #154 closed, assigned to nobody

[2019-09-24 22:46] halfpastfouram opened #316 "Package http-interop/http-middleware is abandoned"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](ht

[2019-09-25 08:20] michalbundyra commented on #316
@halfpastfouram Thanks, we know about it and we are working on package https://github.com/zendframework/zend-mvc-middleware/ so middleware implementation in MVC can be extracted.

/cc @Xerkus

[2019-10-04 09:48] BigStarMyLife commented on #266
Thank you very much.
I knew it at much..

[2019-10-04 09:52] BigStarMyLife commented on #266
Is this error is  version error?
so Can i use what version in zend 2?
What is the solution?

[2019-10-04 10:02] michalbundyra commented on #266
@BigStarMyLife Yes, it has been fixed in 2.7.13.

[2019-10-31 23:30] ghost commented on #189
@leolicai Did you find a solution for this?

[2019-11-01 05:43] froschdesign commented on #189
@burrellramone
Please have a look at the documentation of zend-view: "[Cookbook - Setting module-specific Layouts](https://docs.zendframework.com/zend-view/cookbook/setting-module-specific-layouts/)"

[2019-11-01 08:06] #189 closed, assigned to nobody

[2019-11-01 10:20] ghost commented on #189
Why do I need 100+ lines of code to do something that ought to be basic in a framework that is suppose to be module based? I'll try it nevertheless and see if it works.

[2019-11-01 10:45] froschdesign commented on #189
@burrellramone
We are open for constructive criticism and for proposals of all kinds.

The Zend Framework is a community driven project and everyone can contribute.
If you miss something or found an inadequacy, then we look forward to any assistance. You can create a feature request or create a pull request to add the desired function.

Thanks in advance!

[2019-11-01 12:45] MatthiasKuehneEllerhold commented on #189
The idea of modules here is that you have your layout and view scripts and extend them with extra module that add functionality.
So its more like that the basic layout is thought to be coming from one module and all other modules just append functionality (without any views) or generic views that you can include.

[2019-11-10 13:26] voltan opened #317 "Error to load controller after update to zend 2.6.0dev"
Hello

We have custom CMS by zf2, I try update zend version to version 2.6.0dev, But after that I have `A 404 error occurred`

[code]

any important change happened to version 2.5.3 and 2.7.15?
can you help me to understand the problem?

[2019-11-10 13:29] Ocramius commented on #317
Hey there,

It looks like something you'd have to debug (write an integration test) and then bisect: not something maintainers can help you with until you isolated the root cause.

[2019-11-10 13:30] #317 closed, assigned to Ocramius

[2019-11-11 11:32] ghost commented on #204
+1 I'm having the same issue with the notFoundAction in Zend 3. I want to catch dispatch errors but they are never thrown when an action that doesn't exist is called on a controller.

This issue has been opened since Oct. 2016 but it hasn't been assigned to anyone and it hasn't been labelled?

[2019-11-11 12:01] froschdesign commented on #204
@burrellramone

The zend-mvc component is subject to some [changes](https://discourse.zendframework.com/t/rfc-zend-mvc-4-design-changes/447) which are under development.
An assessment of the current problem did not occur previously. So the issue itself is still open and relevant.

[2019-12-06 22:40] herbergt opened #318 "Compatibility with PHP 7.3?"
I cannot find anywhere on the internet if the components of Zend Framework 3, including the zend-mvc are compatible with php 7.3.

Does anyone can help me with this information?

I want to upgrade the version of PHP from 7.2 to 7.3

[2019-12-06 22:46] michalbundyra commented on #318
@herbergt Yes, ZF MVC is compatible with PHP 7.3 :) I just noted that we are not running tests on PHP 7.3 so it should be fixed. We are also compatible with PHP 7.4 - expect two modules as far as I know - zend-db and zend-mail (in very edge cases). We are working on these to have all modules compatible also with PHP 7.4!

[2019-12-06 23:20] herbergt commented on #318
Good to know that @michalbundyra . Thank you for your help.

[2019-12-06 23:20] #318 closed, assigned to nobody

[2019-12-31 21:40] weierophinney commented on #316
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/1.

[2019-12-31 21:40] weierophinney commented on #314
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/3.

[2019-12-31 21:40] weierophinney commented on #313
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/4.

[2019-12-31 21:40] weierophinney commented on #311
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/6.

[2019-12-31 21:40] weierophinney commented on #308
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/8.

[2019-12-31 21:41] weierophinney commented on #283
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/13.

[2019-12-31 21:41] weierophinney commented on #274
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/14.

[2019-12-31 21:41] weierophinney commented on #264
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/16.

[2019-12-31 21:41] weierophinney commented on #255
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/17.

[2019-12-31 21:41] weierophinney commented on #227
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/19.

[2019-12-31 21:41] weierophinney commented on #226
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/20.

[2019-12-31 21:41] weierophinney commented on #204
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/21.

[2019-12-31 21:41] weierophinney commented on #199
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/22.

[2019-12-31 21:41] weierophinney commented on #186
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/23.

[2019-12-31 21:41] weierophinney commented on #178
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/24.

[2019-12-31 21:41] weierophinney commented on #177
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/25.

[2019-12-31 21:41] weierophinney commented on #176
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/26.

[2019-12-31 21:42] weierophinney commented on #174
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/27.

[2019-12-31 21:42] weierophinney commented on #173
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/28.

[2019-12-31 21:42] weierophinney commented on #171
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/29.

[2019-12-31 21:42] weierophinney commented on #168
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/30.

[2020-01-15 19:24] michalbundyra commented on #3
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/34.

[2020-01-15 19:25] michalbundyra commented on #167
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at laminas/laminas-mvc#35.

[2020-01-15 19:26] michalbundyra commented on #22
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/36.

[2020-01-15 19:26] michalbundyra commented on #16
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/37.

[2020-01-15 19:26] michalbundyra commented on #12
This repository has been closed and moved to laminas/laminas-mvc; a new issue has been opened at https://github.com/laminas/laminas-mvc/issues/38.